/****************************************************************************
  Borland International.
  (c) Copyright 1995.

  BLAKJACK.RC
*****************************************************************************/
#include <owl/except.rc>

#include "card.rh"
BJ_ICO ICON "blakjack.ico"
BJ_MENU MENU
{
 POPUP "&Help", HELP
 {
  MENUITEM "&About", ID_ABOUT
 }
}
Blackjack DIALOG 29, 67, 189, 254
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
FONT 8, "MS Sans Serif"
{
 LTEXT "Dealer", TXT_DEALER, 11, 37, 30, 8
 LTEXT "Points", TXT_DPOINTS, 46, 37, 26, 8
 LTEXT "0", ID_DISP_DPOINTS, 76, 36, 12, 8
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 75, 35, 16, 11
 LTEXT "Bet", TXT_BET, 107, 23, 17, 8
 LTEXT "0", ID_DISP_BET, 109, 36, 62, 8
 CONTROL "", ID_DISP_BET_SHADE, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 107, 34, 68, 12
 LTEXT "Player", TXT_PLAYER, 12, 133, 30, 8
 LTEXT "Points", TXT_PLAYER_POINTS, 45, 133, 24, 8
 LTEXT "0", ID_DISP_PPOINTS, 77, 134, 12, 8
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 76, 132, 16, 12
 LTEXT "BankRoll", TXT_PLAYER_BANKROLL, 108, 120, 34, 8
 LTEXT "0", ID_DISP_BANKROLL1, 109, 134, 62, 8
 CONTROL "", ID_DISP_BANKROLL_SHADE, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 107, 133, 68, 12
 CONTROL "Hi&t", ID_HIT_BTN, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 223, 37, 25
 CONTROL "&Stand", ID_STAND_BTN, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 52, 223, 37, 25
 CONTROL "&Bet", ID_BET_BTN, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP , 100, 223, 37, 25
 CONTROL "Bank&Roll", ID_BANKROLL_BTN, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 148, 223, 37, 25
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 0, 217, 189, 3
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 3, 2, 184, 48
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 3, 115, 184, 38
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 3, 218, 184, 34
 EDITTEXT ID_DISP_BET_INPUT, 107, 34, 68, 13, ES_WANTRETURN | NOT WS_VISIBLE | WS_BORDER | WS_TABSTOP
 EDITTEXT ID_DISP_BANKROLL_INPUT, 107, 133, 68, 12, NOT WS_VISIBLE | WS_BORDER | WS_TABSTOP
}


Blackjack DLGINIT
{
	 2011, 0x0400, 54L,
0x0f00, 0x4449, 0x5f43, 0x484d, 0x4143, 0x4452, 0x4544, 0x4b43, 0x0133,
0x0000, 0x0602, 0xffff, 0xff07, 0x08ff, 0x0900, 0x0000, 0xff0a, 0x0bff,
0x0c00, 0x0d00, 0x0f00, 0x1000, 0x0001, 0x0011, 0xff12, 0xffff, 0xff00,
	 2012, 0x0400, 54L,
0x0f00, 0x4449, 0x5f43, 0x484d, 0x4143, 0x4452, 0x4544, 0x4b43, 0x0134,
0x0000, 0x0602, 0xffff, 0xff07, 0x08ff, 0x0900, 0x0000, 0xff0a, 0x0bff,
0x0c00, 0x0d00, 0x0f00, 0x1000, 0x0001, 0x0011, 0xff12, 0xffff, 0xff00,
	 4020, 0x0400, 54L,
0x0f00, 0x4449, 0x5f43, 0x484d, 0x4143, 0x4452, 0x4544, 0x4b43, 0x0132,
0x0000, 0x0602, 0xffff, 0xff07, 0x08ff, 0x0900, 0x0000, 0xff0a, 0x0bff,
0x0c00, 0x0d00, 0x0f00, 0x1000, 0x0001, 0x0011, 0xff12, 0xffff, 0xff00,
	 101, 0x0400, 54L,
0x0f00, 0x4449, 0x5f43, 0x484d, 0x4143, 0x4452, 0x4544, 0x4b43, 0x0131,
0x0000, 0x0602, 0xffff, 0xff07, 0x08ff, 0x0900, 0x0000, 0xff0a, 0x0bff,
0x0c00, 0x0d00, 0x0f00, 0x1000, 0x0001, 0x0011, 0xff12, 0xffff, 0xff00,
	 0
}


AboutBox DIALOG 21, 77, 184, 224
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "About"
FONT 8, "MS Sans Serif"
{
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 5, 174, 174, 3
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 185, 37, 25
 CONTROL "Blackjack Card Game", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 26, 17, 132, 8
 CONTROL "(c) Copyright 1995 ", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 55, 119, 67, 8
 CONTROL "Borland International", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 52, 130, 72, 8
 CONTROL "Scotts Valley, CA", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 46, 140, 86, 8
 CONTROL "MHCD200.VBX;MhCardDeck;MhCardDeck101", IDC_MHCARDDECK1, "VBControl", 0 | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 76, 53, 41, 59
 CONTROL "MHCD200.VBX;MhCardDeck;MhCardDeck102", IDC_MHCARDDECK2, "VBControl", 0 | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 63, 36, 41, 59
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 4, 4, 177, 216
}


DIALOG_1 DLGINIT 
{
    101, 0x0400, 54L,
0x0f00, 0x4449, 0x5f43, 0x484d, 0x4143, 0x4452, 0x4544, 0x4b43, 0x0131,
0x0000, 0x0602, 0xffff, 0xff07, 0x08ff, 0x0900, 0x0000, 0xff0a, 0x0bff,
0x0c00, 0x0d01, 0x0f03, 0x1000, 0x0001, 0x0011, 0xff12, 0xffff, 0xff00,
    102, 0x0400, 54L,
0x0f00, 0x4449, 0x5f43, 0x484d, 0x4143, 0x4452, 0x4544, 0x4b43, 0x0132,
0x0000, 0x0602, 0xffff, 0xff07, 0x08ff, 0x0900, 0x0000, 0xff0a, 0x0bff,
0x0c06, 0x0d00, 0x0f00, 0x1000, 0x0001, 0x0011, 0xff12, 0xffff, 0xff00,
    0
}


AboutBox DLGINIT 
{
    101, 0x0400, 49L,
0x0a00, 0x684d, 0x6143, 0x6472, 0x6544, 0x6b63, 0x0001, 0x0200, 0xff06,
0x07ff, 0xffff, 0x0008, 0x0009, 0x0a00, 0xffff, 0x000b, 0x010c, 0x030d,
0x000f, 0x0110, 0x1100, 0x1200, 0xffff, 0x00ff, "\xff"
    102, 0x0400, 49L,
0x0a00, 0x684d, 0x6143, 0x6472, 0x6544, 0x6b63, 0x0001, 0x0200, 0xff06,
0x07ff, 0xffff, 0x0008, 0x0009, 0x0a00, 0xffff, 0x060b, 0x000c, 0x000d,
0x000f, 0x0110, 0x1100, 0x1200, 0xffff, 0x00ff, "\xff"
    0
}

