/*------------------------------------------------------------------------*/
/*                                                                        */
/*  STREAMS.RC                                                            */
/*                                                                        */
/*  Copyright Borland International, 1993                                 */
/*                                                                        */
/*  Streaming example resource definition file                            */
/*                                                                        */
/*------------------------------------------------------------------------*/

#include "streams.h"

ELLIPSE_CURSOR CURSOR "ellipse.cur"

LINE_CURSOR CURSOR "line.cur"

RECT_CURSOR CURSOR "rect.cur"


COMMANDS MENU LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New", CM_FILENEW
        MENUITEM "&Open...", CM_FILEOPEN
        MENUITEM "&Save", CM_FILESAVE
        MENUITEM "Save &as...", CM_FILESAVEAS
        MENUITEM SEPARATOR
        MENUITEM "E&xit", CM_EXIT
    END

    POPUP "&Edit"
    BEGIN
        MENUITEM "&Line", CM_EDITLINE
        MENUITEM "&Rectangle", CM_EDITRECTANGLE
        MENUITEM "&Captioned Rectangle", CM_EDITCAPTIONEDRECTANGLE
        MENUITEM "&Filled Rectangle", CM_EDITFILLEDRECTANGLE
        MENUITEM "&Ellipse", CM_EDITELLIPSE
        MENUITEM "C&aptioned Ellipse", CM_EDITCAPTIONEDELLIPSE
        MENUITEM "F&illed Ellipse", CM_EDITFILLEDELLIPSE
    END

    POPUP "&Help"
    BEGIN
        MENUITEM "&About...", CM_HELPABOUT
    END

END


CaptionDlg DIALOG 85, 79, 156, 111
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Caption"
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT "&Caption:", -1, 11, 7, 48, 8, NOT WS_GROUP
	EDITTEXT IDD_INPUTEDITBOX, 12, 19, 126, 11
	GROUPBOX "&Position", IDD_POSITIONBOX, 12, 39, 59, 58, BS_GROUPBOX
	CONTROL "Top", IDD_TOP, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 21, 52, 41, 12
	CONTROL "Center", IDD_CENTER, "BUTTON", BS_AUTORADIOBUTTON, 21, 65, 43, 13
	CONTROL "Bottom", IDD_BOTTOM, "BUTTON", BS_AUTORADIOBUTTON, 21, 80, 44, 9
	DEFPUSHBUTTON "Ok", IDOK, 88, 64, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
END

About DIALOG 82, 84, 194, 79
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "Ok", IDOK, 73, 53, 50, 14
    CTEXT "Borland C++ 4.0", -1, 15, 10, 165, 18
    CTEXT "Streaming Demo", -1, 15, 27, 165, 11
END


