//----------------------------------------------------------------------------
// Borland C++ Builder
// Copyright (c) 1997-2002 Borland International, All Rights Reserved
//----------------------------------------------------------------------------
#ifndef WORKSHOP_INVOKED
  #include <windows.h>
#endif

Live		BITMAP	live.bmp
Dead		BITMAP	dead.bmp

Malet		CURSOR	malet.cur
MaletDown	CURSOR	maletdow.cur

