//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1993 by Borland International
//----------------------------------------------------------------------------
#ifndef WORKSHOP_INVOKED
  #include <windows.h>
#endif

DRAGMENU MENU
BEGIN
  POPUP "Help"
  BEGIN
    MENUITEM "How To",      101
    MENUITEM "View Files",  102
    MENUITEM "Clear Files", 103
    MENUITEM SEPARATOR
    MENUITEM "About",       104
  END
END
