//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1993, 1996 by Borland International, All Rights Reserved
//----------------------------------------------------------------------------
#ifndef WORKSHOP_INVOKED
# include <windows.h>
#endif
#include <owl\except.rc>
#include "verinfo.rh"

STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
{
  IDS_NOSUCHFILE          "File does not exist or contains no version information."
}
