//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1993 by Borland International
//----------------------------------------------------------------------------

FontDlg DIALOG 13, 35, 178, 172
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select a Font"
FONT 8, "Helv"
{
 LTEXT "&Font:", 1088, 6, 3, 40, 9
 COMBOBOX 1136, 6, 13, 94, 54, CBS_SIMPLE | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 LTEXT "Font St&yle:", 1089, 108, 3, 44, 9
 COMBOBOX 1137, 108, 13, 64, 54, CBS_SIMPLE | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "OK", 1, 31, 140, 40, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", 2, 107, 140, 40, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 GROUPBOX "Sample", 1073, 8, 76, 164, 49, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP
 CTEXT "AaBbYyZz", 1092, 14, 85, 152, 37, SS_CENTER | SS_NOPREFIX | WS_CHILD | NOT WS_VISIBLE | WS_GROUP
 COMBOBOX 1138, 208, 68, 32, 54, CBS_SIMPLE | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | CBS_NOINTEGRALHEIGHT | WS_CHILD | NOT WS_VISIBLE
 LTEXT "This Size listbox must be present for this dialog to work, even if you don't want the user", -1, 204, -4, 108, 24, SS_LEFT | WS_CHILD | NOT WS_VISIBLE
 LTEXT "to change the font size.  Putting it outside the dialog rectangle will make it invisible.", -1, 204, 24, 96, 36, SS_LEFT | WS_CHILD | NOT WS_VISIBLE
 LTEXT "(Comments like this are also not shown in the dialog)", -1, 201, 140, 128, 24, SS_LEFT | WS_CHILD | NOT WS_VISIBLE
 GROUPBOX "Effects", 1072, 4, 204, 84, 34, BS_GROUPBOX | WS_CHILD | NOT WS_VISIBLE | WS_GROUP
 CONTROL "Stri&keout", 1040, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | NOT WS_VISIBLE, 8, 214, 49, 10
 CONTROL "&Underline", 1041, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | NOT WS_VISIBLE, 8, 226, 51, 10
 LTEXT "&Color:", 1091, 4, 242, 30, 9, SS_LEFT | WS_CHILD | NOT WS_VISIBLE | WS_GROUP
 COMBOBOX 1139, 4, 252, 84, 100, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | NOT WS_VISIBLE | WS_BORDER | WS_VSCROLL
 LTEXT "These controls should also be present in the resource, even if invisible, to keep CommDlg from generating debug messages in the debug kernel", -1, 4, 184, 260, 20, SS_LEFT | WS_CHILD | NOT WS_VISIBLE
 PUSHBUTTON "&Apply", 1026, 105, 211, 40, 14, BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE
 PUSHBUTTON "&Help", 1038, 105, 228, 40, 14, BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE
 CTEXT "", 1093, 105, 247, 160, 20, SS_CENTER | SS_NOPREFIX | WS_CHILD | NOT WS_VISIBLE
}
