//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1995 by Borland International
//----------------------------------------------------------------------------
#ifndef WORKSHOP_INVOKED
  #include <windows.h>
#endif
#include <owl\editfile.rh>
#include <owl\inputdia.rh>
#include "wchess.h"

ChessIcon ICON chess.ico

BPawn   BITMAP bpawn.bmp
BRook   BITMAP brook.bmp
BKnight BITMAP bkngt.bmp
BBishop BITMAP bbishop.bmp
BQueen  BITMAP bqueen.bmp
BKing   BITMAP bking.bmp

WPawn   BITMAP wpawn.bmp
WRook   BITMAP wrook.bmp
WKnight BITMAP wkngt.bmp
WBishop BITMAP wbishop.bmp
WQueen  BITMAP wqueen.bmp
WKing   BITMAP wking.bmp

PMask   BITMAP pmask.bmp
RMask   BITMAP rmask.bmp
KTMask  BITMAP ktmask.bmp
BMask   BITMAP bmask.bmp
QMask   BITMAP qmask.bmp
KMask   BITMAP kmask.bmp

BKBrush BITMAP bkbrush.bmp

TChessMenu MENU LOADONCALL MOVEABLE PURE DISCARDABLE 
BEGIN
  POPUP "&Game"
  BEGIN
    MenuItem  "&New", CM_FILENEW
    MenuItem  "&Restore...", CM_FILEOPEN
    MenuItem  "&Save", CM_FILESAVE
    MenuItem  "Save &as...", CM_FILESAVEAS
    MenuItem  SEPARATOR
    MenuItem  "E&xit", IDM_EXIT
    MenuItem  SEPARATOR
    MenuItem  "&Play", IDM_PASS
    MenuItem  "&Hint", IDM_HINT
  END
  POPUP "&Edit"
  BEGIN
    MenuItem  "&Undo\aALT+BkSp", CM_UNDO, GRAYED
    MenuItem  "&Redo\aCTRL+BkSp", CM_REDO, GRAYED
    MenuItem  SEPARATOR
    MenuItem  "&Arrange", IDM_MOVEPIECE
  END
  POPUP "&Level"
  BEGIN
    MenuItem  "&Easy", IDM_EASY 
    MenuItem  "&Time per move...", IDM_MOVETIME
    MenuItem  "T&otal Time...", IDM_TOTALTIME
    MenuItem  "&Matching", IDM_MATCHING
    MenuItem  "&Infinite", IDM_INFINITE
    MenuItem  "&PlySearch...", IDM_PLY
    MenuItem  "M&ateSearch", IDM_MATE
  END
  POPUP "&Options"
  BEGIN
    MenuItem  "&Two player", IDM_TWOPLAYER
    MenuItem  "&Demo mode", IDM_DEMO
    MenuItem  "&Piece Values...", IDM_PIECEVALUES
    MenuItem  SEPARATOR
    POPUP  "&Movement"
    BEGIN
        MenuItem "&Drag", IDM_MOUSEDRAG, CHECKED
        MenuItem "&Select", IDM_MOUSESELECT
    END
    MenuItem  "&Sound", IDM_SOUND, CHECKED
  END
  POPUP "&Display"
  BEGIN               
    MenuItem "&Colors...", IDM_COLORS
    MenuItem  "&Reverse board", IDM_REVERSE
    MenuItem  "&Show BestLine", IDM_BESTLINE, CHECKED
  END                  
END


TChessThinkMenu  MENU LOADONCALL MOVEABLE PURE DISCARDABLE 
BEGIN
  MenuItem "&Stop", CM_STOP
END

TChessEditMenu MENU LOADONCALL MOVEABLE PURE DISCARDABLE 
BEGIN
  MenuItem "&Done", EM_DONE
  MenuItem "&Clear", EM_CLEAR
  POPUP "&Turn"
  BEGIN
    MenuItem "&White", IDM_WHITETURN, CHECKED
    MenuItem "&Black", IDM_BLACKTURN
  END
  MenuItem "C&ancel", EM_CANCEL
END
        
ChessCommands ACCELERATORS
BEGIN
  VK_BACK, CM_UNDO, VIRTKEY, ALT
  VK_F4, CM_EXIT, VIRTKEY, ALT
  VK_BACK, CM_REDO, VIRTKEY, CONTROL
END

About DIALOG 7, 22, 140, 91
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About OWL Chess"
BEGIN
  LTEXT "Copyright (C) 1991, 1993", -1, 40, 42, 60, 8
  ICON "ChessIcon", -1, 23, 23, 16, 16
  LTEXT "Object Windows ", -1, 43, 13, 54, 8
  CTEXT "CHESS", -1, 50, 23, 39, 8
  LTEXT "Borland International, Inc.", -1, 28, 51, 84, 8
  CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 16, 11, 105, 52
  PUSHBUTTON "&OK", IDOK, 50, 70, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

DR_ENDGAMEDLG DIALOG 19, 26, 142, 76
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "OWL Chess"
BEGIN
  CTEXT "", ID_INPUT, 18, 15, 106, 18
  CTEXT "Play again?", -1, 36, 32, 70, 8
  CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 11, 9, 120, 38
  PUSHBUTTON "&Yes", IDYES, 25, 55, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&No", IDNO, 84, 55, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END


DR_CHESSERROR DIALOG 18, 18, 140, 59
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "OWL Chess Error"
BEGIN
  CTEXT "", ID_INPUT, 13, 10, 114, 19, WS_CHILD | WS_VISIBLE | WS_GROUP
  CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 9, 6, 122, 28
  PUSHBUTTON "&OK", IDOK, 50, 40, 40, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

ColorsDialog DIALOG 10, 25, 222, 132
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Set Square Colors"
BEGIN
  SCROLLBAR IDD_WRED, 17, 44, 9, 62, SBS_VERT | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
  SCROLLBAR IDD_WGREEN, 41, 44, 9, 62, SBS_VERT | WS_CHILD | WS_VISIBLE | WS_TABSTOP
  SCROLLBAR IDD_WBLUE, 65, 45, 9, 61, SBS_VERT | WS_CHILD | WS_VISIBLE | WS_TABSTOP
  EDITTEXT IDD_WEDITRED, 13, 110, 16, 12
  EDITTEXT IDD_WEDITGREEN, 37, 110, 16, 12
  EDITTEXT IDD_WEDITBLUE, 61, 110, 16, 12
  LTEXT " ""White"" Square", -1, 7, 6, 78, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
  LTEXT " ""Black"" Square", -1, 93, 6, 78, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
  SCROLLBAR IDD_BRED, 106, 44, 9, 62, SBS_VERT | WS_CHILD | WS_VISIBLE | WS_TABSTOP
  SCROLLBAR IDD_BGREEN, 129, 44, 9, 62, SBS_VERT | WS_CHILD | WS_VISIBLE | WS_TABSTOP
  SCROLLBAR IDD_BBLUE, 153, 44, 9, 62, SBS_VERT | WS_CHILD | WS_VISIBLE | WS_TABSTOP
  EDITTEXT IDD_BEDITRED, 102, 110, 16, 12
  EDITTEXT IDD_BEDITGREEN, 126, 110, 16, 12
  EDITTEXT IDD_BEDITBLUE, 150, 110, 16, 12
  CONTROL "Text", IDD_WHITECOLOR, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 35, 20, 20, 20
  CONTROL "Text", IDD_BLACKCOLOR, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 124, 20, 20, 20
  CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 7, 15, 79, 111
  CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 93, 15, 79, 111
  PUSHBUTTON "&OK", IDOK, 178, 89, 36, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Cancel", IDCANCEL, 177, 112, 36, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END


PieceValueDlg DIALOG 7, 24, 178, 93
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Piece Values"
BEGIN
  EDITTEXT IDD_EQUEEN, 6, 7, 19, 12
  LTEXT "Queen", -1, 28, 10, 31, 8
  SCROLLBAR IDD_QUEEN, 58, 9, 74, 9
  SCROLLBAR IDD_ROOK, 58, 26, 74, 9
  SCROLLBAR IDD_BISHOP, 58, 43, 74, 9
  SCROLLBAR IDD_KNIGHT, 58, 60, 74, 9
  SCROLLBAR IDD_PAWN, 58, 77, 74, 9
  LTEXT "Rook", -1, 28, 27, 30, 8
  LTEXT "Bishop", -1, 28, 44, 29, 8
  LTEXT "Knight", -1, 28, 61, 28, 8
  LTEXT "Pawn", -1, 28, 78, 28, 8
  EDITTEXT IDD_EROOK, 6, 24, 19, 12
  EDITTEXT IDD_EBISHOP, 6, 41, 19, 12
  EDITTEXT IDD_EKNIGHT, 6, 58, 19, 12
  EDITTEXT IDD_EPAWN, 6, 75, 19, 12
  CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 3, 4, 132, 86
  PUSHBUTTON "&OK", IDOK, 139, 14, 36, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Default", IDD_DEFAULT, 139, 39, 36, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Cancel", IDCANCEL, 139, 68, 36, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

#include <owl\inputdia.rc>
