//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1992, 1996 by Borland International, All Rights Reserved
//
//$Revision:   10.4  $
//
// Resources to use with TEditFile.
//----------------------------------------------------------------------------

#include <owl/editfile.rh>

#if defined(RC_INVOKED)

#if !defined(NO_IDM_EDITFILE) && !defined(__IDM_EDITFILE)
#define __IDM_EDITFILE
IDM_EDITFILE MENU LOADONCALL MOVEABLE PURE DISCARDABLE
{
  POPUP "&File"
  {
    MenuItem  "&New",        CM_FILENEW
    MenuItem  "&Open...",    CM_FILEOPEN
    MenuItem  "&Save",       CM_FILESAVE
    MenuItem  "Save &As...", CM_FILESAVEAS
    MenuItem  SEPARATOR
    MenuItem  "E&xit",       CM_EXIT
  }
  POPUP "&Edit"
  {
    MenuItem  "&Undo\aCtrl+Z",        CM_EDITUNDO
    MenuItem  SEPARATOR
    MenuItem  "Cu&t\aCtrl+X",         CM_EDITCUT
    MenuItem  "&Copy\aCtrl+C",        CM_EDITCOPY
    MenuItem  "&Paste\aCtrl+V",       CM_EDITPASTE
    MenuItem  "&Delete\aDel",         CM_EDITDELETE
    MenuItem  "C&lear All\aCtrl+Del", CM_EDITCLEAR
  }
  POPUP "&Search"
  {
    MenuItem  "&Find...",    CM_EDITFIND
    MenuItem  "&Replace...", CM_EDITREPLACE
    MenuItem  "&Next\aF3",   CM_EDITFINDNEXT
  }
}
#endif
#undef NO_IDM_EDITFILE

#if !defined(NO_IDA_EDITFILE) && !defined(__IDA_EDITFILE)
#define __IDA_EDITFILE
IDA_EDITFILE ACCELERATORS
{
  "^Z",      CM_EDITUNDO
  "^X",      CM_EDITCUT
  "^C",      CM_EDITCOPY
  "^V",      CM_EDITPASTE
  VK_DELETE, CM_EDITCLEAR, VIRTKEY, CONTROL
  VK_F3,     CM_EDITFINDNEXT, VIRTKEY
}
#endif
#undef NO_IDA_EDITFILE

#if !defined(NO_IDS_EDITFILE) && !defined(__IDS_EDITFILE)
#define __IDS_EDITFILE
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
{
  IDS_UNTITLEDFILE, "Untitled"
  IDS_UNABLEREAD, "Unable to read file %s from disk."
  IDS_UNABLEWRITE, "Unable to write file %s to disk."
  IDS_FILECHANGED, "The text in the %s file has changed.\n\nDo you want to save the changes?"
  IDS_FILEFILTER, "Text files (*.TXT)|*.TXT|All Files (*.*)|*.*|"
  IDS_RICHEDITFILTER, "RTF files (*.RTF)|*.RTF|Text files (*.TXT)|*.TXT|All Files (*.*)|*.*|"
}
#endif
#undef NO_IDS_EDITFILE

#endif  // defined(RC_INVOKED)
