//----------------------------------------------------------------------------
// ObjectWindows
// (C) Copyright 1992, 1994 by Borland International, All Rights Reserved
//
//   Resources to use with TEditSearch.
//----------------------------------------------------------------------------

#include <owl/editsear.rh>

#if defined(RC_INVOKED)

#if !defined(NO_IDM_EDITSEARCH) && !defined(__IDM_EDITSEARCH)
#define __IDM_EDITSEARCH
IDM_EDITSEARCH MENU LOADONCALL MOVEABLE PURE DISCARDABLE
{
  Popup "&Edit"
  {
    MenuItem  "&Undo\aCtrl+Z",        CM_EDITUNDO
    MenuItem  SEPARATOR
    MenuItem  "&Cut\aCtrl+X",         CM_EDITCUT
    MenuItem  "C&opy\aCtrl+C",        CM_EDITCOPY
    MenuItem  "&Paste\aCtrl+V",       CM_EDITPASTE
    MenuItem  "&Delete\aDel",         CM_EDITDELETE
    MenuItem  "C&lear All\aCtrl+Del", CM_EDITCLEAR
  }
  POPUP "&Search"
  {
    MenuItem  "&Find...",    CM_EDITFIND
    MenuItem  "&Replace...", CM_EDITREPLACE
    MenuItem  "&Next\aF3",   CM_EDITFINDNEXT
  }
}
#endif
#undef NO_IDM_EDITSEARCH

#if !defined(NO_IDA_EDITSEARCH) && !defined(__IDA_EDITSEARCH)
#define __IDA_EDITSEARCH
IDA_EDITSEARCH ACCELERATORS
{
  VK_DELETE, CM_EDITCUT,      VIRTKEY, SHIFT
  VK_INSERT, CM_EDITCOPY,     VIRTKEY, CONTROL
  VK_INSERT, CM_EDITPASTE,    VIRTKEY, SHIFT
  VK_DELETE, CM_EDITCLEAR,    VIRTKEY, CONTROL
  VK_BACK,   CM_EDITUNDO,     VIRTKEY, ALT
  VK_F3,     CM_EDITFINDNEXT, VIRTKEY
}
#endif
#undef NO_IDA_EDITSEARCH

#if !defined(NO_IDS_EDITSEARCH) && !defined(__IDS_EDITSEARCH)
#define __IDS_EDITSEARCH
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
{
  CM_EDITUNDO-1,  "Editing commands, undo and Clipboard access"
  CM_EDITUNDO,    "Undo the last action"
  CM_EDITCUT,     "Cut the selection and put it on the Clipboard"
  CM_EDITCOPY,    "Copy the selection to the Clipboard"
  CM_EDITPASTE,   "Insert the Clipboard contents at the caret"
  CM_EDITDELETE,  "Delete the selection"
  CM_EDITCLEAR,   "Clear the document"
  CM_EDITADD,     "Insert a new line"
  CM_EDITEDIT,    "Edit the current line"
  CM_EDITFIND,    "Find the specified text"
  CM_EDITREPLACE, "Find the specified text and change it"
  CM_EDITFINDNEXT,"Find the next match"

  IDS_CANNOTFIND, "Cannot find ""%s""."
}
#endif
#undef NO_IDS_EDITSEARCH

#endif  // defined(RC_INVOKED)
