//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1993, 1996 by Borland International, All Rights Reserved
//
//$Revision:   10.3  $
//
// Menu and accelerators for use with TListView
//----------------------------------------------------------------------------

#include <owl/inputdia.rh>
#include <owl/listview.rh>

#if defined(RC_INVOKED)

#define NO_IDM_EDITSEARCH
#define NO_IDA_EDITSEARCH
#include <owl/editsear.rc>      // Get the edit menu help strings
#include <owl/inputdia.rc>      // Get the TInputDialog dialog resource

#if !defined(NO_IDM_LISTVIEW) && !defined(__IDM_LISTVIEW)
#define __IDM_LISTVIEW
IDM_LISTVIEW MENU LOADONCALL MOVEABLE PURE DISCARDABLE
{
  POPUP "&Edit"
  {
    MenuItem  "&Undo\aCtrl+Z",        CM_EDITUNDO
    MenuItem  SEPARATOR
    MenuItem  "Cu&t\aCtrl+X",         CM_EDITCUT
    MenuItem  "&Copy\aCtrl+C",        CM_EDITCOPY
    MenuItem  "&Paste\aCtrl+V",       CM_EDITPASTE
    MenuItem  "&Delete\aDel",         CM_EDITDELETE
    MenuItem  "&Add Item\aIns",       CM_EDITADD
    MenuItem  "&Edit Item\aEnter",    CM_EDITEDIT
    MenuItem  "C&lear All\aCtrl+Del", CM_EDITCLEAR
  }
  POPUP "&Help"
  {
    MenuItem  "OWL ListView", 0, INACTIVE
  }
}
#endif
#undef NO_IDM_LISTVIEW

#if !defined(NO_IDA_LISTVIEW) && !defined(__IDA_LISTVIEW)
#define __IDA_LISTVIEW
IDA_LISTVIEW ACCELERATORS
{
  "^z",      CM_EDITUNDO,
  "^x",      CM_EDITCUT,
  "^c",      CM_EDITCOPY,
  "^v",      CM_EDITPASTE,
  VK_DELETE, CM_EDITDELETE VIRTKEY
  VK_DELETE, CM_EDITCLEAR, VIRTKEY, CONTROL
  VK_INSERT, CM_EDITADD,   VIRTKEY
  VK_RETURN, CM_EDITEDIT,  VIRTKEY,
}
#endif
#undef NO_IDA_LISTVIEW

#if !defined(NO_IDS_LISTVIEW) && !defined(__IDS_LISTVIEW)
#define __IDS_LISTVIEW
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
{
  IDS_LISTNUM,  "Line number %d"
}
#endif
#undef NO_IDS_LISTVIEW

#endif  // defined(RC_INVOKED)
