//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1992, 1993 by Borland International
//   include\owl\statusba.rc
//   Resources to use with TStatusBar.
//----------------------------------------------------------------------------

#define IDS_MODES  32530

#if defined(RC_INVOKED)
#if !defined(NO_IDS_STATUSBAR) && !defined(__IDS_STATUSBAR)
#define __IDS_STATUSBAR
STRINGTABLE
BEGIN
  IDS_MODES      "EXT|CAPS|NUM|SCRL|OVR|REC"
  SC_SIZE,       "Changes the size of the window"
  SC_MOVE,       "Moves the window to another position"
  SC_MINIMIZE,   "Reduces the window to an icon"
  SC_MAXIMIZE,   "Enlarges the window to it maximum size"
  SC_RESTORE,    "Restores the window to its previous size"
  SC_CLOSE,      "Closes the window"
  SC_TASKLIST,   "Opens task list"
  SC_NEXTWINDOW, "Switches to next window"
END
#endif
#undef NO_IDS_STATUSBAR

#endif  // defined(RC_INVOKED)
