//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1992, 1993 by Borland International
//   include\owl\validate.rc
//   Resources to use with TValidator & derived classes
//----------------------------------------------------------------------------

#include <owl\validate.rh>

#if defined(RC_INVOKED)

#if !defined(NO_IDS_VALIDATOR) && !defined(__IDS_VALIDATOR)
#define __IDS_VALIDATOR
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  IDS_VALPXPCONFORM      "Input does not conform to picture:\n""%s"""
  IDS_VALINVALIDCHAR     "Invalid character in input"
  IDS_VALNOTINRANGE      "Value is not in the range %ld to %ld."
  IDS_VALNOTINLIST       "Input is not in valid-list"
END
#endif
#undef NO_IDS_VALIDATOR

#endif
