/****************************************************************************


addon.rc

produced by Borland Resource Workshop


*****************************************************************************/


1 MPD_TOPICLIST LOADONCALL MOVEABLE DISCARDABLE 
{
 '01 00 00 10 01 00 00 00 00 00 00 00 00 00 01 00'
 '01 00'
}
