//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1993 by Borland International
//----------------------------------------------------------------------------
#include <owl\mdi.rh>
#include "mdistrm.h"

#include <owl\owlapp.rc>         // default owl app icon

MDIMenu MENU
BEGIN
  POPUP "&MDI Children"
    BEGIN
      MENUITEM "C&reate",  CM_CREATECHILD,
      MENUITEM "&Cascade", CM_CASCADECHILDREN,
      MENUITEM "&Tile", CM_TILECHILDREN,
      MENUITEM "Arrange &Icons", CM_ARRANGEICONS,
      MENUITEM "C&lose All", CM_CLOSECHILDREN,
    END
  POPUP "&Desktop"
    BEGIN
      MENUITEM "&Save", CM_SAVESTATE
      MENUITEM "&Restore", CM_RESTORESTATE
    END
END
