//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1991, 1995 by Borland International, All Rights Reserved
//----------------------------------------------------------------------------
#ifndef WORKSHOP_INVOKED
  #include <windows.h>
#endif
#include <owl/owlapp.rc>         // default owl app icon
#include <owl/except.rc>
#include <owl/window.rh>
#include "transfer.h"

ID_MENU MENU LOADONCALL MOVEABLE PURE DISCARDABLE
{
  PopUp "&App"
  {
   MenuItem  "&Dialog", CM_DIALOG
   MenuItem  "&Transfer", CM_TRANSFER
   MenuItem  Separator
   MenuItem  "&Exit", CM_EXIT
  }
}

IDD_DIALOG DIALOG 20, 25, 309, 188
STYLE WS_POPUP | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CAPTION | WS_SYSMENU
CAPTION "Controls to transfer data from"
FONT 8, "MS Sans Serif"
{
 RTEXT "&Name:", -1, 6, 20, 40, 8, WS_CHILD | WS_VISIBLE | SS_RIGHT
 EDITTEXT ID_NAMEEDIT, 48, 18, 102, 12
 GROUPBOX "&Title", 105, 153, 6, 81, 24, WS_CHILD | WS_VISIBLE | WS_GROUP | BS_GROUPBOX
 CONTROL "Mr.", ID_MRBUTTON, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 159, 17, 20, 10
 CONTROL "Ms.", ID_MSBUTTON, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 183, 17, 21, 10
 CONTROL "Dr.", ID_DRBUTTON, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 207, 17, 20, 10
 RTEXT "Address&1:", -1, 6, 36, 40, 8
 EDITTEXT ID_ADDR1EDIT, 48, 33, 186, 12
 RTEXT "Address&2:", -1, 6, 51, 40, 8, WS_CHILD | WS_VISIBLE | SS_RIGHT
 EDITTEXT ID_ADDR2EDIT, 48, 48, 186, 12
 RTEXT "City, &State:", -1, 6, 66, 40, 8, WS_CHILD | WS_VISIBLE | SS_RIGHT
 EDITTEXT ID_CITYSTEDIT, 48, 63, 109, 12
 RTEXT "Count&ry:", -1, 6, 81, 40, 8, WS_CHILD | WS_VISIBLE | SS_RIGHT
 EDITTEXT ID_COUNTRYEDIT, 48, 78, 109, 12
 CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 242, 18, 60, 45
 LTEXT "Checkboxes:", -1, 243, 6, 47, 9
 CHECKBOX "Checkbox1", ID_CHECKBOX1, 247, 23, 48, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
 CHECKBOX "Checkbox2", ID_CHECKBOX2, 247, 35, 49, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
 CHECKBOX "Checkbox3", ID_CHECKBOX3, 247, 47, 48, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
 EDITTEXT ID_LISTBOXDATA, 27, 168, 84, 13
 PUSHBUTTON "Add", CM_ADDLISTBOX, 117, 168, 33, 14
 LISTBOX ID_LISTBOX, 6, 114, 144, 48, LBS_NOTIFY | WS_BORDER | LBS_SORT | WS_BORDER
 EDITTEXT ID_COMBOBOXDATA, 180, 132, 87, 13
 PUSHBUTTON "Add", CM_ADDCOMBOBOX, 270, 132, 33, 14
 COMBOBOX ID_COMBOBOX, 159, 113, 144, 50, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 6, 6, 231, 90
 LTEXT "Listbox:", -1, 6, 102, 36, 9
 LTEXT "Combobox:", -1, 159, 102, 48, 9
 LTEXT "Data:", -1, 6, 170, 20, 9
 LTEXT "Data:", -1, 159, 134, 20, 9
 SCROLLBAR ID_SCROLLBAR, 242, 84, 60, 12
 LTEXT "Scroll Bar:", -1, 243, 72, 42, 9
 DEFPUSHBUTTON "&Close", IDOK, 250, 166, 50, 14
}

ID_DISPLAY_INFO DIALOG 25, 23, 245, 165
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Transfer Info"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "Ok", IDOK, 98, 147, 48, 14
 EDITTEXT ID_INFO, 6, 6, 233, 135, ES_MULTILINE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
}
