//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1995, 1995 by Borland International, All Rights Reserved
//----------------------------------------------------------------------------
#include <owl/owlapp.rc>
#include <owl/inputdia.rc>
#include <owl/except.rc>
#include <owl/window.rh>
#include <owl/notetab.h>
#include "tabctrl.h"

IDM_APPMENU MENU
{
 POPUP "&Items"
 {
  MENUITEM "&Add Item...", CM_ADDITEM
  MENUITEM "&Remove Item...", CM_REMOVEITEM
  MENUITEM "&Change Item...", CM_CHANGEITEM
  MENUITEM SEPARATOR
  MENUITEM "&Info", CM_INFO
  MENUITEM "&Delete All" CM_DELETEALL
  MENUITEM SEPARATOR
  MENUITEM "&Exit", CM_EXIT
 }

 POPUP "&Tab Styles"
 {
  MENUITEM "&New Tab...", CM_NEWTAB
 }

 POPUP "&Notifications"
 {
  MENUITEM "Veto TCN_SELCHANGING", CM_VETOSELCHANGING
 }

 POPUP "&OWL Notetab"
 {
  MENUITEM "&Dialog with notetab...", CM_SHOWNOTETAB
 }
}

  
IDD_NEWTAB DIALOG 28, 70, 194, 111
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "New Tab"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 81, 50, 14
 CONTROL "S&tyle", IDC_GROUPBOX1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 14, 18, 66, 44
 CONTROL "&Button Tabs", IDC_RADIOBUTTON1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 22, 29, 53, 12
 CONTROL "&Default Tabs", IDC_RADIOBUTTON2, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 22, 43, 52, 12
 CONTROL "&Rows", IDC_GROUPBOX2, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 105, 18, 66, 44
 CONTROL "&Single Line", IDC_RADIOBUTTON3, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 110, 29, 53, 12
 CONTROL "&MultiLine", IDC_RADIOBUTTON4, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 110, 43, 54, 12
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 112, 81, 50, 14
}

IDD_NOTETAB DIALOG 41, 97, 240, 98
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ObjectWindows Notetab"
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_NOTETAB, OWL_NOTETAB, 0 | WS_CHILD | WS_VISIBLE, 4, 78, 233, 12
 CONTROL "Order Info", IDC_GROUPBOX3, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 4, 164, 68

 CONTROL "The &Birds of Mauritius", IDC_RADIOBUTTON1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 17, 19, 132, 12
 CONTROL "&Hiking in Reunion Island", IDC_RADIOBUTTON2, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 17, 37, 132, 12
 CONTROL "&Visiting Port-Louis", IDC_RADIOBUTTON3, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 17, 53, 132, 12

 CONTROL "&Name", IDC_STATIC1, "STATIC", SS_LEFT | WS_CHILD | WS_GROUP | NOT WS_VISIBLE, 19, 12, 49, 8
 CONTROL "", IDC_EDIT1, "EDIT", WS_BORDER | WS_TABSTOP | NOT WS_VISIBLE, 19, 21, 140, 14
 CONTROL "A&ddress", IDC_STATIC2, "STATIC", SS_LEFT | WS_CHILD | WS_GROUP | NOT WS_VISIBLE, 20, 39, 49, 8
 CONTROL "", IDC_EDIT2, "EDIT", WS_BORDER | WS_TABSTOP | NOT WS_VISIBLE, 20, 48, 140, 18

 CONTROL "&Order Notes", IDC_STATIC3, "STATIC", SS_LEFT | WS_CHILD | WS_GROUP | NOT WS_VISIBLE, 19, 12, 53, 8
 CONTROL "", IDC_EDIT3, "EDIT", WS_BORDER | WS_TABSTOP | NOT WS_VISIBLE, 15, 22, 150, 46

 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 186, 27, 42, 12
 CONTROL "&Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 186, 48, 42, 12
}
