//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1993 by Borland International
//   Resources for use with doc/view example
//----------------------------------------------------------------------------
#ifndef WS_POPUP
  #include <windows.h>
#endif
#include <owl\docview.rc>
#include <owl\except.rc>
#include <owl\mdi.rh>

#define IDI_DOCVIEW    22201
#define IDM_DVSDI      22201
#define IDM_DVMDI      22202
#define CM_DESKCLEAR   22202
#define CM_DESKSAVE    22203
#define CM_DESKRESTORE 22204
#define CM_HIDEVIEW    22205
#define CM_SHOWVIEWS   22206
#define CM_DISABLEVIEW 22207
#define CM_ENABLEVIEWS 22208

#if defined(RC_INVOKED)

#include <owl\statusba.rc>
#include <owl\owlapp.rc>

IDM_DVSDI MENU LOADONCALL MOVEABLE PURE DISCARDABLE
{
  MenuItem "File",   0,GRAYED  ;placeholder for File menu from DocManager
  POPUP "&Desktop"
  {
    MenuItem "&Clear Desktop",  CM_DESKCLEAR
;   MenuItem "&Save Desktop",   CM_DESKSAVE
;   MenuItem "&Restore Desktop",CM_DESKRESTORE
  }
}

IDM_DVMDI MENU LOADONCALL MOVEABLE PURE DISCARDABLE
{
  MenuItem "File",   0,GRAYED  ;placeholder for File menu from DocManager
  POPUP "&Desktop"
  {
    MenuItem "&Clear Desktop",  CM_DESKCLEAR
;   MenuItem "&Save Desktop",   CM_DESKSAVE
;   MenuItem "&Restore Desktop",CM_DESKRESTORE
    MenuItem "&Hide View",      CM_HIDEVIEW
    MenuItem "&Unhide Views",   CM_SHOWVIEWS
    MenuItem "&Disable View",   CM_DISABLEVIEW
    MenuItem "&Enable Views",   CM_ENABLEVIEWS
  }
  POPUP "&Window"
  {
    MenuItem  "&Cascade",       CM_CASCADECHILDREN
    MenuItem  "&Tile",          CM_TILECHILDREN
    MenuItem  "Arrange &Icons", CM_ARRANGEICONS
    MenuItem  "C&lose All",     CM_CLOSECHILDREN
    MenuItem  "Add &View",      CM_VIEWCREATE
  }
}

STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
{
  CM_DESKCLEAR,   "Clear desktop"
  CM_DESKSAVE,    "Save desktop"
  CM_DESKRESTORE, "Restore desktop"
  CM_HIDEVIEW,    "Hide current view"
  CM_SHOWVIEWS,   "Unhide hidden views"
  CM_DISABLEVIEW, "Disable current view"
  CM_ENABLEVIEWS, "Enable disabled views"
}

IDI_DOCVIEW ICON 
{
 '00 00 01 00 01 00 20 20 10 00 00 00 00 00 E8 02'
 '00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 04 00 00 00 00 00 80 02 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 BF 00 00 BF 00 00 00 BF BF 00 BF 00'
 '00 00 BF 00 BF 00 BF BF 00 00 C0 C0 C0 00 80 80'
 '80 00 00 00 FF 00 00 FF 00 00 00 FF FF 00 FF 00'
 '00 00 FF 00 FF 00 FF FF 00 00 FF FF FF 00 CC CC'
 'CC CC CC CC CC 00 00 00 00 00 00 00 00 00 C0 00'
 '00 00 00 00 0C 00 00 00 00 00 00 00 00 00 CF FF'
 '0F FF F0 FF FC 00 0C CC CC CC CC CC CC C0 CF FF'
 '0F FF F0 FF FC 00 0C FF FF FF FF FF FF C0 C0 00'
 '00 00 00 00 0C 00 0C F0 00 00 00 00 00 C0 CF FF'
 '0A AA A0 FF FC 00 0C F0 22 FF FF FF FF C0 CF FF'
 '0A AA A0 FF FC 00 0C F0 FF 2F FF FF FF C0 C0 00'
 '00 00 00 00 0C 00 0C F0 FF F2 FF FF F9 C0 CF FF'
 '0F FF F0 FF FC 00 0C F0 FF FF 2F FF 9F C0 CF FF'
 '0F FF F0 FF FC 00 0C F0 FF FF F2 F9 FF C0 C0 00'
 '00 00 00 00 0C 00 0C F0 9F FF F2 F9 FF C0 CF FF'
 'FF FF FF FF FC 00 0C F0 F9 FF FF 29 FF C0 C7 7F'
 'FF 77 FF F7 7C 00 0C F0 FF 99 FF 92 FF C0 CC CC'
 'CC CC CC CC CC 00 0C F0 FF FF 99 FF 22 C0 00 00'
 '99 90 00 00 00 00 9C F0 FF FF FF FF FF C0 00 00'
 '99 90 00 00 00 09 9C CC CC CC CC CC CC C0 00 00'
 '99 90 00 00 00 99 99 00 00 00 00 00 00 00 BB BB'
 'BB BB BB BB B9 99 90 00 00 00 00 00 00 00 B0 00'
 '00 00 BB BB B9 99 00 CC CC CC CC CC CC CC BB BB'
 'BB BB BB BB B9 90 00 CF FF FF FF FF FF FC B0 00'
 '00 00 00 0B B0 00 00 CF 0F 0F 0F 0F 0F FC BB BB'
 'BB BB BB BB B0 00 00 CF FF FF FF FF FF FC B0 00'
 '00 00 0B BB B0 00 00 CC CC FC CC FC CC CC BB BB'
 'BB BB BB BB B0 00 00 CC FC CC FC CC FC CC B0 00'
 '00 00 00 0B B0 00 00 CF FF FF FF FF FF FC BB BB'
 'BB BB BB BB B0 00 00 CF 0F 0F 0F 0F 0F FC B0 00'
 '00 00 00 BB B9 99 99 CF FF FF FF FF FF FC BB BB'
 'BB BB BB BB B9 99 99 CF 0F 0F 0F 0F 0F FC B0 00'
 '00 00 BB BB B9 99 99 CF FF FF FF FF FF FC BB BB'
 'BB BB BB BB B0 00 00 CF 0F 0F 0F 0F 0F FC B0 00'
 '00 00 00 00 B0 00 00 CF FF FF FF FF FF FC BB BB'
 'BB BB BB BB B0 00 00 CC CC CC CC CC CC CC 00 03'
 'FF FF 00 03 FF FF 00 03 80 01 00 03 80 01 00 03'
 '80 01 00 03 80 01 00 03 80 01 00 03 80 01 00 03'
 '80 01 00 03 80 01 00 03 80 01 00 03 80 01 00 03'
 '80 01 00 03 80 01 F1 FF 00 01 F1 FE 00 01 F1 FC'
 '3F FF 00 00 7F FF 00 00 C0 00 00 01 C0 00 00 07'
 'C0 00 00 07 C0 00 00 07 C0 00 00 07 C0 00 00 07'
 'C0 00 00 07 C0 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 07 C0 00 00 07 C0 00 00 07 C0 00'
}

#endif  // defined(RC_INVOKED)
