//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1993 by Borland International
//   Menu and accelerators for use with TODListView
//----------------------------------------------------------------------------

#include <owl\inputdia.rh>

#define CM_ODLISTUNDO       27381
#define CM_ODLISTCUT        27382
#define CM_ODLISTCOPY       27383
#define CM_ODLISTPASTE      27384
#define CM_ODLISTDELETE     27385
#define CM_ODLISTCLEAR      27386
#define CM_ODLISTADD        27387
#define CM_ODLISTEDIT       27388
#define IDS_ODLISTNUM       32583
#define IDM_ODLISTVIEW      32583
#define IDA_ODLISTVIEW      32583

#if defined(RC_INVOKED)

IDM_ODLISTVIEW MENU LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
  POPUP "&Edit"
  BEGIN
    MenuItem  "&Undo\aAlt+BkSp",      CM_ODLISTUNDO
    MenuItem  SEPARATOR
    MenuItem  "&Cut\aShift+Del",      CM_ODLISTCUT
    MenuItem  "C&opy\aCtrl+Ins",      CM_ODLISTCOPY
    MenuItem  "&Paste\aShift+Ins",    CM_ODLISTPASTE
    MenuItem  "&Delete\aDel",         CM_ODLISTDELETE
    MenuItem  "&Add Item\aEnter",     CM_ODLISTADD
    MenuItem  "&Edit Item\aAlt+Enter",CM_ODLISTEDIT
    MenuItem  "C&lear All\aCtrl+Del", CM_ODLISTCLEAR
  END
  POPUP "&Help"
  BEGIN
    MenuItem  "OWL Owner-draw ListView", 0, INACTIVE
  END
END

IDA_ODLISTVIEW ACCELERATORS
BEGIN
  "^x",      CM_ODLISTCUT,
  "^c",      CM_ODLISTCOPY,
  "^v",      CM_ODLISTPASTE,
  VK_DELETE, CM_ODLISTDELETE VIRTKEY
  VK_DELETE, CM_ODLISTCUT,   VIRTKEY, SHIFT
  VK_DELETE, CM_ODLISTCLEAR, VIRTKEY, CONTROL
  VK_INSERT, CM_ODLISTCOPY,  VIRTKEY, CONTROL
  VK_INSERT, CM_ODLISTPASTE, VIRTKEY, SHIFT
  VK_BACK,   CM_ODLISTUNDO,  VIRTKEY, ALT
  VK_RETURN, CM_ODLISTADD,   VIRTKEY
  VK_RETURN, CM_ODLISTEDIT,  VIRTKEY, ALT
END

STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  CM_ODLISTUNDO,  "Reverses the last operation"
  CM_ODLISTCUT,   "Cuts the selection and puts it on the Clipboard"
  CM_ODLISTCOPY,  "Copies the selection to the Clipboard"
  CM_ODLISTPASTE, "Inserts the Clipboard contents at the caret"
  CM_ODLISTDELETE,"Deletes the selection"
  CM_ODLISTCLEAR, "Clear the document"
  CM_ODLISTADD,   "Insert a new line"
  CM_ODLISTEDIT,  "Edit the current line"

  IDS_ODLISTNUM,  "Line number %d"
END

#endif /* defined(RC_INVOKED) */
