//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1993 by Borland International
//   Menu and strings for use with TExceptionView
//----------------------------------------------------------------------------

#include <owl\inputdia.rh>
//#include <owl\except.rc>

#define CM_TXOWL         30380
#define CM_TXTEST        30381
#define CM_TXCOMP        30382
#define CM_TXMEM         30383
#define CM_XALLOC        30384
#define CM_XMSG          30385
#define CM_FOREIGN       30386
#define CM_UNEXPECTED    30387
#define CM_BADCAST       30388
#define CM_BADTYPEID     30389
#define CM_OWLSEND       30390
#define CM_XCLEAR        30391
#define XM_TXOWL         30480
#define XM_TXTEST        30481
#define XM_XALLOC        30482
#define XM_XMSG          30483
#define XM_UNEXPECTED    30484
#define XM_OWLSEND       30485
#define IDM_XCPTVIEW     30300
#define IDA_XCPTVIEW     30300

#if defined(RC_INVOKED)

#include <owl\inputdia.rc>
#define NO_IDD_INPUTDIALOG

#if !defined(NO_IDM_XCPTVIEW) && !defined(__IDM_XCPTVIEW)
#define __IDM_XCPTVIEW
IDM_XCPTVIEW MENU LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
  POPUP "&Edit"
  BEGIN
    MenuItem  "&Clear Data\aCtrl+Del",CM_XCLEAR
  END
  POPUP "&Throw Exception"
  BEGIN
    MenuItem  "TX&Owl Exception",     CM_TXOWL
    MenuItem  "TX&Test Exception",    CM_TXTEST
    MenuItem  "TX&Compatibility",     CM_TXCOMP
    MenuItem  "TXOutOf&Memory",       CM_TXMEM
    MenuItem  "x&alloc Exception",    CM_XALLOC
    MenuItem  "&xmsg Exception",      CM_XMSG
    MenuItem  "&Foreign Exception",   CM_FOREIGN
    MenuItem  "&Unexpected Violation",CM_UNEXPECTED
    MenuItem  "Bad &Dynamic Cast",    CM_BADCAST
    MenuItem  "typeid() Bad Object",  CM_BADTYPEID
    MenuItem  "TXTest &SendMessage",  CM_OWLSEND
  END
  POPUP "&Help"
  BEGIN
    MenuItem  "OWL ExceptionView",   0, INACTIVE
    MenuItem  "TXTest Annotations:", 0, INACTIVE
    MenuItem  "# TXTest constructor",0, INACTIVE
    MenuItem  "+ copy constructor",  0, INACTIVE
    MenuItem  "~ destructor",        0, INACTIVE
    MenuItem  "= assignment",        0, INACTIVE
    MenuItem  "&& clone function",   0, INACTIVE
    MenuItem  "! throw function",    0, INACTIVE
    MenuItem  "? unhandled function",0, INACTIVE
  END
END
#endif
#undef NO_IDM_XCPTVIEW

#if !defined(NO_IDA_XCPTVIEW) && !defined(__IDA_XCPTVIEW)
#define __IDA_XCPTVIEW
IDA_XCPTVIEW ACCELERATORS

BEGIN
  VK_DELETE, CM_XCLEAR, VIRTKEY, CONTROL
END
#endif
#undef NO_IDA_XCPTVIEW

#if !defined(NO_IDS_XCPTVIEW) && !defined(__IDS_XCPTVIEW)
#define __IDS_XCPTVIEW
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  CM_TXOWL,     "Throw a TXOwl exception"
  CM_TXTEST,    "Throw a TXTest exception, monitor progress"
  CM_TXCOMP,    "Throw a TXCompatibility by setting Status"
  CM_TXMEM,     "Throw a TXOutOfMemory exception"
  CM_XALLOC,    "Throw an xalloc exception"
  CM_XMSG,      "Throw an xmsg exception"
  CM_FOREIGN,   "Throw a foreign exception"
  CM_UNEXPECTED,"Throw an unexpected xmsg"
  CM_BADCAST,   "Perform an invalid dynamic cast to a reference"
  CM_BADTYPEID, "Call typeid() on a non-rtti object"
  CM_OWLSEND,   "Throw a TXTest exception from SendMessage callback"
  CM_XCLEAR,    "Clear data from view"
  XM_TXOWL,     "TXOwl from TExceptionView"
  XM_TXTEST,    "TXTest from TExceptionView"
  XM_XALLOC,    "xalloc from TExceptionView"
  XM_XMSG,      "xmsg from TExceptionView"
  XM_UNEXPECTED,"Unexpected xmsg forced"
  XM_OWLSEND,   "TXTest from SendMessage callback to TExceptionView"
END
#endif
#undef NO_IDS_XCPTVIEW

#endif  // defined(RC_INVOKED)
