#include "tests.hrc"
#include <commctrl.h>

IDD_DIALOG1 DIALOG 6, 20, 354, 159
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CLASS "AddOnTester"
CAPTION "BCW Add-on Tester"
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON "&Init", IDC_INIT, 275,28,50,14
 LISTBOX IDC_LIST1, 6, 15, 108, 129, LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
 PUSHBUTTON "&UnInit", IDC_UNINIT, 275,48,49,14
 PUSHBUTTON "Test&1", IDC_TEST1, 275,68,49,14
 PUSHBUTTON "Test&2", IDC_TEST2, 275,88,49,14
 PUSHBUTTON "Test&3", IDC_TEST3, 275,108,49,14
 PUSHBUTTON "Test&4", IDC_TEST4, 275,128,49,14
 LTEXT "Test Name:", IDC_STATIC, 6,4,88,9
 EDITTEXT IDC_OUTPUT, 120, 15, 145, 129, WS_VSCROLL | WS_HSCROLL | WS_TABSTOP | ES_LEFT | ES_MULTILINE | ES_AUTOHSCROLL | ES_AUTOVSCROLL
 LTEXT "Output:", IDC_STATIC, 120, 5, 88, 9
 PUSHBUTTON "?", IDC_TEST1_HELP, 330, 68, 20, 14
 PUSHBUTTON "?", IDC_TEST2_HELP, 330, 88, 20, 14
 PUSHBUTTON "?", IDC_TEST3_HELP, 330, 108, 20, 14
 PUSHBUTTON "?", IDC_TEST4_HELP, 330, 128, 20, 14
 AUTOCHECKBOX "Always On Top", IDC_TOPMOST, 275, 7, 73, 12
}


IDI_ICON1         ICON   DISCARDABLE    "icon1.ico"
IDB_CLOSED_FOLDER  BITMAP closfold.bmp
IDB_OPEN_FOLDER  BITMAP openfold.bmp
IDB_FILE        BITMAP file.bmp



IDD_MPD_PAGE1 DIALOG DISCARDABLE  0, 0, 210, 168
STYLE WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
   LTEXT        "This is the summary page",IDC_STATIC,9,6,80,9
//   CONTROL      "",IDC_NODEVIEW,"SysListView32",WS_BORDER|LVS_REPORT | LVS_SINGLESEL | WS_TABSTOP,6,7,198,153,WS_EX_CLIENTEDGE
END


IDD_MPD_PAGE2 DIALOG DISCARDABLE  0, 0, 210, 168
STYLE WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
   LTEXT        "Page Type",IDC_STATIC,9,6,40,9
   EDITTEXT     IDC_PAGE_TYPE,54,6,106,12,ES_AUTOHSCROLL | ES_READONLY
   GROUPBOX     "",IDC_STATIC,12,24,193,135
   CONTROL      "&Ok to close page",IDC_RADIO1,"Button",
              BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP|BS_NOTIFY,17,38,73,10
   CONTROL      "Do not close page",IDC_RADIO2,"Button",
              BS_AUTORADIOBUTTON|BS_NOTIFY,17,52,71,10
   CONTROL      "Check1",IDC_CHECK1,"Button",BS_AUTOCHECKBOX | WS_GROUP|BS_NOTIFY | 
              WS_TABSTOP,19,72,48,10
   COMBOBOX     IDC_COMBO1,13,101,71,120,CBS_DROPDOWN | CBS_SORT | 
              WS_VSCROLL | WS_TABSTOP
   PUSHBUTTON   "&Message",IDC_MESSAGE,19,137,49,14,BS_NOTIFY
   EDITTEXT     IDC_EDIT1,99,33,102,12,ES_AUTOHSCROLL
   LISTBOX      IDC_LIST1,101,51,98,74,LBS_SORT | LBS_NOINTEGRALHEIGHT | 
              WS_VSCROLL | WS_TABSTOP
END


IDD_MPD_PAGE3 DIALOG DISCARDABLE  0, 0, 210, 168
STYLE WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
   LTEXT        "Page Type",IDC_STATIC,9,6,40,9
   EDITTEXT     IDC_PAGE_TYPE,54,6,106,12,ES_AUTOHSCROLL | ES_READONLY
   GROUPBOX     "",IDC_STATIC,12,24,193,135
   CONTROL      "&Ok to close page",IDC_RADIO1,"Button",
              BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP|BS_NOTIFY,17,38,73,10
   CONTROL      "Do not close page",IDC_RADIO2,"Button",
              BS_AUTORADIOBUTTON|BS_NOTIFY,17,52,71,10
   CONTROL      "Check1",IDC_CHECK1,"Button",BS_AUTOCHECKBOX | WS_GROUP|BS_NOTIFY | 
              WS_TABSTOP,19,72,48,10
   COMBOBOX     IDC_COMBO1,13,101,71,30,CBS_DROPDOWN | CBS_SORT | 
              WS_VSCROLL | WS_TABSTOP
   PUSHBUTTON   "&Message",IDC_MESSAGE,19,137,49,14, BS_NOTIFY
   EDITTEXT     IDC_EDIT1,99,33,102,12,ES_AUTOHSCROLL
   LISTBOX      IDC_LIST1,101,51,98,74,LBS_SORT | LBS_NOINTEGRALHEIGHT | 
              WS_VSCROLL | WS_TABSTOP
END

//

IDD_MPD_PAGE4 DIALOG DISCARDABLE  0, 0, 210, 168
STYLE WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
   GROUPBOX     "Property",IDC_STATIC,16,12,185,108
   LTEXT        "Name:",IDC_STATIC,28,36,22,8
   EDITTEXT     IDC_PROPERTY_LABEL,52,34,140,14,ES_AUTOHSCROLL
   LTEXT        "Value:",IDC_STATIC,29,67,21,8
   EDITTEXT     IDC_PROPERTY,52,66,140,12,ES_AUTOHSCROLL
   PUSHBUTTON   "Find",IDC_FIND,24,92,50,14
   PUSHBUTTON   "Set",IDC_SET,83,92,50,14
   PUSHBUTTON   "Remove",IDC_REMOVE,142,92,50,14
END

IDD_MPD_PAGE5 DIALOG DISCARDABLE  0, 0, 210, 168
STYLE WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
   GROUPBOX     "Option",IDC_STATIC,16,9,190,123
   LTEXT        "Include:",IDC_STATIC,27,22,26,8
   LTEXT        "Library:",IDC_STATIC,27,37,24,8
   LTEXT        "Source:",IDC_STATIC,27,52,27,8
   LTEXT        "Intermediate:",IDC_STATIC,27,67,53,8
   LTEXT        "Final:",IDC_STATIC,27,82,18,8
   LTEXT        "Defines:",IDC_STATIC,27,97,27,8
   LTEXT        "CmdlineOverride:",IDC_STATIC,27,112,54,8
   EDITTEXT     IDC_INCLUDE,82,19,118,14,ES_AUTOHSCROLL
   EDITTEXT     IDC_LIBRARY,82,34,118,14,ES_AUTOHSCROLL
   EDITTEXT     IDC_SOURCE,82,49,118,14,ES_AUTOHSCROLL
   EDITTEXT     IDC_INTERMEDIATE,82,64,118,14,ES_AUTOHSCROLL
   EDITTEXT     IDC_FINAL,82,79,118,14,ES_AUTOHSCROLL
   EDITTEXT     IDC_DEFINES,82,94,118,14,ES_AUTOHSCROLL
   EDITTEXT     IDC_CMDOVERRIDE,82,109,118,14,ES_AUTOHSCROLL
   PUSHBUTTON   "Remove",IDC_REMOVE,23,143,50,14
END


IDR_ADDON_POPUP MENU DISCARDABLE 
BEGIN
   POPUP "AddOnPopUp"
   BEGIN
      MENUITEM "Edit",                IDM_VIEW
      MENUITEM SEPARATOR
      MENUITEM "New View",              IDM_CREATENEWVIEW
      MENUITEM "View from here",          IDM_VIEWFROMHERE
      MENUITEM "Refresh",             IDM_REFRESH
      MENUITEM "View Dependents",        IDM_VIEWDEP
      MENUITEM SEPARATOR
      MENUITEM "Delete Node",           IDM_DELETENODE
      MENUITEM "Add Node...",           IDM_ADDNODE
      MENUITEM SEPARATOR
      MENUITEM "Make",                IDM_MAKE
      MENUITEM "Build",               IDM_BUILD
      MENUITEM "Translate",            IDM_TRANSLATE
   END
END

BITMAP_1 BITMAP "cmdtest1.bmp"
BITMAP_2 BITMAP "cmdtest2.bmp"

IDD_WIN32_OWL_TARGET DIALOG DISCARDABLE  10, 14, 140, 158
STYLE 0x2004L | WS_CHILD | WS_VISIBLE | WS_BORDER
FONT 8, "MS Sans Serif"
BEGIN
   GROUPBOX     "Controls:",-1,5,9,129,27,WS_GROUP
   CONTROL      "B&WCC",IDC_BWCC,"Button",BS_AUTOCHECKBOX | BS_NOTIFY | 
              WS_TABSTOP,14,20,56,10
   GROUPBOX     "",-1,5,47,129,19,WS_GROUP
   CONTROL      "&Dynamic",IDC_DYNAMIC_LIB,"Button",BS_AUTORADIOBUTTON | 
              BS_NOTIFY | WS_TABSTOP,14,54,56,10
   CONTROL      "&Static",IDC_STATIC_LIB,"Button",BS_AUTORADIOBUTTON | 
              BS_NOTIFY | WS_TABSTOP,72,54,56,10
END
