//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1995, 1995 by Borland International, All Rights Reserved
//
// Filename:    Test.rc
//
// Date:        27-Apr-95
//
// Description:
//----------------------------------------------------------------------------
#include <owl/owlapp.rc>
#include <owl/validate.rc>
#include <owl/window.rh>
#include <owl/mdi.rh>
#include "Test.rh"

IDM_MDIMENU MENU
{
 POPUP "&Window"
 {
  MENUITEM "&New", CM_CREATECHILD
  MENUITEM "&Cascade", CM_CASCADECHILDREN
  MENUITEM "&Tile", CM_TILECHILDREN
  MENUITEM "Arrange &Icons", CM_ARRANGEICONS
  MENUITEM "C&lose All", CM_CLOSECHILDREN
 }
 POPUP "&Help"
 {
  MENUITEM "&About", CM_ABOUT
 }
}

IDD_MDIDIALOG DIALOG 7, 18, 275, 121
STYLE 0x4L | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Test Dialog"
FONT 8, "MS Sans Serif"
{
 LTEXT "Name", -1, 5, 8, 109, 11
 EDITTEXT IDC_NAME, 5, 23, 109, 14
 LTEXT "Number between 1 and 1000", -1, 5, 41, 109, 11
 EDITTEXT IDC_NUMBER, 5, 56, 109, 14
 CHECKBOX "Enable number", IDC_ENABLENUMBER, 133, 56, 60, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 LTEXT "Phone", -1, 5, 74, 109, 11
 EDITTEXT IDC_PHONE, 5, 89, 109, 14
 DEFPUSHBUTTON "OK", IDOK, 218, 6, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 218, 24, 50, 14
 PUSHBUTTON "Help", IDHELP, 218, 42, 50, 14
 CHECKBOX "Enable Help", IDC_ENABLEHELP, 214, 61, 53, 12, BS_AUTOCHECKBOX | WS_TABSTOP
}

IDD_ABOUT DIALOG 7, 18, 194, 69
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | 4
CAPTION "About"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 13, 44, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 73, 44, 50, 14
 PUSHBUTTON "Help", IDHELP, 133, 44, 50, 14
 ICON IDI_OWLAPP, -1, 22, 10, 18, 20
 CTEXT "About MDI Dialog Example", -1, 41, 19, 131, 11
}

