#include "cppocf3.rh"
#include "ocfhlpr.rh"

ID_MAINMENU MENU
{
  POPUP "&File"
  {
    MENUITEM "&New",      CM_FILENEW
    MENUITEM "&Open",     CM_FILEOPEN
    MENUITEM  SEPARATOR
    MENUITEM "E&xit",     CM_FILEEXIT
  }
  POPUP "&Help"
  {
    MENUITEM "&About",        CM_HELPABOUT
  }
}


ID_CHILDMENU MENU
{
  POPUP "&File"
  {
    MENUITEM "&New",      CM_FILENEW
    MENUITEM "&Open",     CM_FILEOPEN
    MENUITEM "&Save",     CM_FILESAVE
    MENUITEM "Save &As",  CM_FILESAVEAS
    MENUITEM  SEPARATOR
    MENUITEM "E&xit",     CM_FILEEXIT
  }

  POPUP "&Edit"
  {
    MenuItem "&Paste",            CM_EDITPASTE
    MenuItem "Paste &Special...", CM_EDITPASTESPECIAL
    MenuItem "Paste &Link",       CM_EDITPASTELINK
    MenuItem "&Delete",           CM_EDITDELETE
    MenuItem Separator
    MenuItem "&Insert Object...", CM_EDITINSERTOBJECT
    MenuItem "&Links...",         CM_EDITLINKS
    MenuItem "&Object",           CM_EDITOBJECT
    MenuItem Separator
    MenuItem "&Show Objects",     CM_EDITSHOWOBJECTS
  }

  POPUP "&Tools"
  {
    MenuItem "Pen &Size",  CM_PENSIZE
	  MenuItem "Pen &color", CM_PENCOLOR
  }

  POPUP "&Window"
  {
    MENUITEM "&Cascade",       CM_WINDOWCASCADECHILDREN
    MENUITEM "&Tile",          CM_WINDOWTILECHILDREN
    MENUITEM "&Arrange Icons", CM_WINDOWARRANGEICONS
    MENUITEM  SEPARATOR
    MENUITEM "C&lose All",     CM_WINDOWCLOSEALL
  }

  POPUP "&Help"
  {
    MENUITEM "&About",        CM_HELPABOUT
  }
}


ID_CHOOSEPENSIZE DIALOG 6, 19, 194, 76
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "New pen size"
FONT 8, "MS Sans Serif"
{
 LTEXT "Select new pen size (between 1-25):", -1, 13, 12, 131, 10
 EDITTEXT IDC_PENSIZE, 13, 27, 157, 12
 DEFPUSHBUTTON "OK", IDOK, 12, 55, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 72, 55, 50, 14
 PUSHBUTTON "Help", IDHELP, 132, 55, 50, 14
}

