//----------------------------------------------------------------------------
//  Project EVHANDLE
//  
//  Copyright © 1996. All Rights Reserved.
//
//  SUBSYSTEM:  EVHANDLE Application
//  FILE:     EVHANDLE.RC
//  AUTHOR:     
//
//  OVERVIEW
//  ~~~~~~~~
//  All resources defined here.
//
//----------------------------------------------------------------------------

#if !defined(WORKSHOP_INVOKED)
# include <windows.h>
#endif
#include "evhandle.rh"

// Exception string resources (include/owl/except.rc)
//
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  IDS_OWLEXCEPTION,     "ObjectWindows Exception"
  IDS_UNHANDLEDXMSG,    "Unhandled Exception"
  IDS_OKTORESUME,       "OK to resume?"
  IDS_UNKNOWNEXCEPTION, "Unknown exception"

  IDS_UNKNOWNERROR,     "Unknown error"
  IDS_NOAPP,            "No application object"
  IDS_OUTOFMEMORY,      "Out of memory"
  IDS_INVALIDMODULE,    "Invalid module specified for window"
  IDS_INVALIDMAINWINDOW,"Invalid MainWindow"
  IDS_VBXLIBRARYFAIL,   "VBX Library init failure"

  IDS_INVALIDWINDOW,    "Invalid window %s"
  IDS_INVALIDCHILDWINDOW,"Invalid child window %s"
  IDS_INVALIDCLIENTWINDOW,"Invalid client window %s"

  IDS_CLASSREGISTERFAIL,"Class registration fail for window %s"
  IDS_CHILDREGISTERFAIL,"Child class registration fail for window %s"
  IDS_WINDOWCREATEFAIL, "Create fail for window %s"
  IDS_WINDOWEXECUTEFAIL,"Execute fail for window %s"
  IDS_CHILDCREATEFAIL,  "Child create fail for window %s"

  IDS_MENUFAILURE,      "Menu creation failure"
  IDS_VALIDATORSYNTAX,  "Validator syntax error"
  IDS_PRINTERERROR,     "Printer error"

  IDS_LAYOUTINCOMPLETE, "Incomplete layout constraints specified in window %s"
  IDS_LAYOUTBADRELWIN,  "Invalid relative window specified in layout constraint in window %s"

  IDS_GDIFAILURE,       "GDI failure"
  IDS_GDIALLOCFAIL,     "GDI allocate failure"
  IDS_GDICREATEFAIL,    "GDI creation failure"
  IDS_GDIRESLOADFAIL,   "GDI resource load failure"
  IDS_GDIFILEREADFAIL,  "GDI file read failure"
  IDS_GDIDELETEFAIL,    "GDI object %X delete failure"
  IDS_GDIDESTROYFAIL,   "GDI object %X destroy failure"
  IDS_INVALIDDIBHANDLE, "Invalid DIB handle %X"
END

// Application ICON
//
IDI_SDIAPPLICATION ICON "applsdi.ico"


// Client Dialog
//
IDD_CLIENT DIALOG 5, 9, 367, 146
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Dialog Client"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 116, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 116, 50, 14
 CONTROL "bdt52ACC.VBX;TTable;TTable2", IDC_VBCONTROL6, "VBControl", 0 | WS_CHILD | WS_VISIBLE, 4, 4, 16, 17
 CONTROL "bdt52ACC.VBX;TDataSource;TDataSource2", IDC_VBCONTROL7, "VBControl", 0 | WS_CHILD | WS_VISIBLE, 28, 4, 12, 17
 CONTROL "bdt52CTL.VBX;TDBNavigator;TDBNavigator2", IDC_DBNAV1, "VBControl", 0 | WS_CHILD | WS_VISIBLE, 4, 4, 168, 17
 CONTROL "bdt52CTL.VBX;TDBEdit;TDBEdit3", IDC_DBEDIT1, "VBControl", 0 | WS_CHILD | WS_VISIBLE, 4, 30, 168, 30
 CONTROL "bdt52CTL.VBX;TDBEdit;TDBEdit4", IDC_DBEDIT2, "VBControl", 0 | WS_CHILD | WS_VISIBLE, 4, 73, 168, 30
 CONTROL "bdt52ACC.VBX;TTable;TTable3", IDC_VBCONTROL11, "VBControl", 0 | WS_CHILD | WS_VISIBLE, 184, 4, 19, 17
 CONTROL "bdt52ACC.VBX;TDataSource;TDataSource3", IDC_VBCONTROL12, "VBControl", 0 | WS_CHILD | WS_VISIBLE, 216, 4, 12, 17
 CONTROL "bdt52CTL.VBX;TDBNavigator;TDBNavigator2", IDC_DBNAV2, "VBControl", 0 | WS_CHILD | WS_VISIBLE, 188, 4, 172, 17
 CONTROL "bdt52CTL.VBX;TDBRadioGroup;TDBRadioGroup1", IDC_DBRADIOG1, "VBControl", 0 | WS_CHILD | WS_VISIBLE, 188, 30, 168, 73
 CONTROL "bdt52CTL.VBX;TDBText;TDBText1", IDC_DBTEXT1, "VBControl", 0 | WS_CHILD | WS_VISIBLE, 192, 108, 160, 26
}

// Version info.
//
#if !defined(__DEBUG_)

// Non-Debug VERSIONINFO
//
1 VERSIONINFO LOADONCALL MOVEABLE
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK 0
FILEFLAGS VS_FFI_FILEFLAGSMASK
#if defined(BI_PLAT_WIN32)
FILEOS VOS__WINDOWS32
#else
FILEOS VOS__WINDOWS16
#endif
FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    // Language type = U.S. English(0x0409) and Character Set = Windows, Multilingual(0x04e4)
    BLOCK "040904E4"              // Matches VarFileInfo Translation hex value.
    BEGIN
      VALUE "CompanyName", "\000"
      VALUE "FileDescription", "Sinkdlg for Windows\000"
      VALUE "FileVersion", "1.0\000"
      VALUE "InternalName", "Sinkdlg\000"
      VALUE "LegalCopyright", "Copyright © 1996. All Rights Reserved.\000"
      VALUE "LegalTrademarks", "Windows(TM) is a trademark of Microsoft Corporation\000"
      VALUE "OriginalFilename", "Sinkdlg.exe\000"
      VALUE "ProductName", "Sinkdlg\000"
      VALUE "ProductVersion", "1.0\000"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04e4    // U.S. English(0x0409) & Windows Multilingual(0x04e4) 1252
  END
END

IDD_CLIENT DLGINIT 
{
    101, 0x0400, 64L,
0x0700, 0x5454, 0x6261, 0x656c, 0x0131, 0x0700, 0x4408, 0x5649, 0x5045,
0x414c, 0x084e, 0x640b, 0x7669, 0x6365, 0x7375, 0x2e74, 0x6264, 0xff09,
0x0aff, 0x0000, 0x000b, 0x000c, 0x000d, 0x000e, 0x000f, 0x1000, 0x1100,
0x1200, 0x0000, 0x0000, 0xff13, 0xffff, 
    102, 0x0400, 32L,
0x0c00, 0x4454, 0x7461, 0x5361, 0x756f, 0x6372, 0x3165, 0x0001, 0x0704,
0x5454, 0x6261, 0x656c, 0x0531, 0xffff, 0xff06, 0xffff, 
    103, 0x0400, 82L,
0x0d00, 0x4454, 0x4e42, 0x7661, 0x6769, 0x7461, 0x726f, 0x0131, 0x0000,
0x0602, 0xffff, 0x0007, 0x0008, 0x000a, 0xff0b, 0x0cff, 0x0000, 0x0000,
0x000d, 0x0e00, 0x0000, 0x0010, 0x0c11, 0x4454, 0x7461, 0x5361, 0x756f,
0x6372, 0x3165, 0x0112, 0x0113, 0x0114, 0x0115, 0x0116, 0x0117, 0x0118,
0x0119, 0x011a, 0x011b, 0xff1d, 0xffff, 
    104, 0x0400, 149L,
0x011e, 0x001f, 0x0800, 0x4454, 0x4542, 0x6964, 0x3174, 0x0001, 0x0200,
0xff06, 0x07ff, 0x0800, 0x0a00, 0x0b00, 0xffff, 0x000c, 0x0000, 0x0d00,
0x0000, 0x000e, 0x1000, 0x1100, 0x540c, 0x6144, 0x6174, 0x6f53, 0x7275,
0x6563, 0x1231, 0x4e04, 0x6d61, 0x1465, 0x0000, 0x0000, 0xb815, 0xb8b8,
0x1600, 0x0140, 0x0007, 0x0000, 0x0000, 0x02bc, 0x0000, 0x0000, 0x0201,
0x2202, 0x7953, 0x7473, 0x6d65, 0x1000, 0x06bc, 0x0050, 0x36c6, 0x2397,
0xbcdf, 0x1f61, 0x238f, 0x0050, 0x36c6, 0x1006, 0x06bc, 0x0da4, 0x001c,
0x1d00, 0x0000, 0x0820, 0x4454, 0x4542, 0x6964, 0x3374, 0x0021, 0x2300,
0x2400, 0xffff, "\xff"
    105, 0x0400, 149L,
0x011e, 0x001f, 0x0800, 0x4454, 0x4542, 0x6964, 0x3274, 0x0001, 0x0200,
0xff06, 0x07ff, 0x0800, 0x0a00, 0x0b00, 0xffff, 0x000c, 0x0000, 0x0d00,
0x0000, 0x000e, 0x1000, 0x1100, 0x540c, 0x6144, 0x6174, 0x6f53, 0x7275,
0x6563, 0x1231, 0x4304, 0x7469, 0x1479, 0x0000, 0x0000, 0xb815, 0xb8b8,
0x1600, 0x0140, 0x0007, 0x0000, 0x0000, 0x02bc, 0x0000, 0x0000, 0x0201,
0x2202, 0x7953, 0x7473, 0x6d65, 0x1000, 0x02d0, 0x0050, 0x2ff6, 0x21d7,
0xc63b, 0x1f61, 0x21ef, 0x0050, 0x2ff6, 0x1006, 0x02d0, 0x0da4, 0x001c,
0x1d00, 0x0000, 0x0820, 0x4454, 0x4542, 0x6964, 0x3474, 0x0021, 0x2300,
0x2400, 0x0000, "\xff"
    106, 0x0400, 64L,
0x0700, 0x5454, 0x6261, 0x656c, 0x0132, 0x0700, 0x4408, 0x5649, 0x5045,
0x414c, 0x084e, 0x640b, 0x7669, 0x6f65, 0x6472, 0x2e73, 0x6264, 0xff09,
0x0aff, 0x0000, 0x000b, 0x000c, 0x000d, 0x000e, 0x000f, 0x1000, 0x1100,
0x1200, 0x0000, 0x0000, 0xff13, 0xffff, 
    107, 0x0400, 32L,
0x0c00, 0x4454, 0x7461, 0x5361, 0x756f, 0x6372, 0x3265, 0x0001, 0x0704,
0x5454, 0x6261, 0x656c, 0x0532, 0xffff, 0xff06, 0xffff, 
    108, 0x0400, 82L,
0x0d00, 0x4454, 0x4e42, 0x7661, 0x6769, 0x7461, 0x726f, 0x0132, 0x0000,
0x0602, 0xffff, 0x0007, 0x0008, 0x000a, 0xff0b, 0x0cff, 0x0000, 0x0000,
0x000d, 0x0e00, 0x0000, 0x0010, 0x0c11, 0x4454, 0x7461, 0x5361, 0x756f,
0x6372, 0x3265, 0x0112, 0x0113, 0x0114, 0x0115, 0x0116, 0x0117, 0x0118,
0x0119, 0x011a, 0x011b, 0xff1d, 0xffff, 
    109, 0x0400, 203L,
0x0e00, 0x4454, 0x5242, 0x6461, 0x6f69, 0x7247, 0x756f, 0x3170, 0x0001,
0x0200, 0xff06, 0x07ff, 0x0800, 0x0a00, 0x0b00, 0xffff, 0x000c, 0x0000,
0x0d00, 0x0000, 0x010e, 0x1000, 0x1100, 0x540c, 0x6144, 0x6174, 0x6f53,
0x7275, 0x6563, 0x1232, 0x5308, 0x6968, 0x2070, 0x6956, 0x1461, 0x0000,
0x0000, 0xb815, 0xb8b8, 0x1600, 0x0140, 0x0007, 0x0000, 0x0000, 0x02bc,
0x0000, 0x0000, 0x0201, 0x2202, 0x7953, 0x7473, 0x6d65, 0x1000, 0x03ac,
0x0050, 0x3076, 0x21d7, 0xc633, 0x1f61, 0x21ef, 0x0050, 0x3076, 0x1006,
0x03ac, 0x2794, 0x0e1c, 0x4454, 0x5242, 0x6461, 0x6f69, 0x7247, 0x756f,
0x3170, 0x021d, 0x1f00, 0x002a, 0x5055, 0x0d53, 0x460a, 0x6465, 0x7845,
0x0a0d, 0x4844, 0x0d4c, 0x570a, 0x6c61, 0x206b, 0x6e49, 0x0a0d, 0x6d45,
0x7265, 0x0d79, 0x550a, 0x2053, 0x614d, 0x6c69, 0x0000, 0x0020, 0x2200,
0x0002, 0x0000, "\xff"
    110, 0x0400, 147L,
0x001e, 0x0121, 0x0800, 0x4454, 0x5442, 0x7865, 0x3174, 0x0001, 0x0200,
0xff06, 0x07ff, 0x0800, 0x0a00, 0x0b00, 0xffff, 0x000c, 0x0000, 0x0d00,
0x0000, 0x000e, 0x1000, 0x1100, 0x540c, 0x6144, 0x6174, 0x6f53, 0x7275,
0x6563, 0x1232, 0x5308, 0x6968, 0x2070, 0x6956, 0x1461, 0x0000, 0x0000,
0xb815, 0xb8b8, 0x1600, 0x0140, 0x0007, 0x0000, 0x0000, 0x02bc, 0x0000,
0x0000, 0x0201, 0x2202, 0x7953, 0x7473, 0x6d65, 0x1000, 0x0188, 0x0050,
0x363e, 0x0e7f, 0xc38f, 0x1f61, 0x0e57, 0x0050, 0x363e, 0x1006, 0x0188,
0x29fc, 0x001c, 0x081d, 0x4454, 0x5442, 0x7865, 0x3174, 0x001f, 0x2000,
0xffff, "\xff"
    0
}

#else

// Debug VERSIONINFO
//
1 VERSIONINFO LOADONCALL MOVEABLE
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK VS_FF_DEBUG | VS_FF_PRERELEASE | VS_FF_PATCHED | VS_FF_PRIVATEBUILD | VS_FF_SPECIALBUILD
FILEFLAGS VS_FFI_FILEFLAGSMASK
#if defined(BI_PLAT_WIN32)
FILEOS VOS__WINDOWS32
#else
FILEOS VOS__WINDOWS16
#endif
FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    // Language type = U.S. English(0x0409) and Character Set = Windows, Multilingual(0x04e4)
    BLOCK "040904E4"              // Matches VarFileInfo Translation hex value.
    BEGIN
      VALUE "CompanyName", "\000"
      VALUE "FileDescription", "Sinkdlg for Windows\000"
      VALUE "FileVersion", "1.0\000"
      VALUE "InternalName", "Sinkdlg\000"
      VALUE "LegalCopyright", "Copyright © 1996. All Rights Reserved.\000"
      VALUE "LegalTrademarks", "Windows(TM) is a trademark of Microsoft Corporation\000"
      VALUE "OriginalFilename", "Sinkdlg.exe\000"
      VALUE "ProductName", "Sinkdlg\000"
      VALUE "ProductVersion", "1.0\000"
      VALUE "SpecialBuild", "Debug Version\000"
      VALUE "PrivateBuild", "Built by \000"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04e4    // U.S. English(0x0409) & Windows Multilingual(0x04e4) 1252
  END
END

#endif
