//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1993 by Borland International
//----------------------------------------------------------------------------
#include "layout.rh"

#include <owl\owlapp.rc>         // default owl app icon

IDM_LAYOUT MENU 
{
 POPUP "&Layout"
 {
  MENUITEM "&Layout Tweaker...", CM_LAYOUT
 }
}


IDD_LAYOUT DIALOG 2, 60, 339, 113
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Layout Tweaker"
FONT 8, "MS Sans Serif"
{
 CTEXT "Window", -1, 6, 6, 48, 8
 LISTBOX ID_WINDOWLIST, 6, 18, 51, 54, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_BORDER | WS_TABSTOP
 RTEXT "MyEdge:", -1, 63, 17, 43, 9
 COMBOBOX ID_X1_MYEDGE, 108, 15, 54, 54, CBS_DROPDOWNLIST | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 RTEXT "Relationship:", -1, 63, 32, 43, 9
 COMBOBOX ID_X1_RELATIONSHIP, 108, 30, 54, 76, CBS_DROPDOWNLIST | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 RTEXT "RelWin:", -1, 63, 47, 43, 9
 COMBOBOX ID_X1_RELWIN, 108, 45, 54, 72, CBS_DROPDOWNLIST | WS_VISIBLE | WS_TABSTOP
 RTEXT "OtherEdge:", -1, 63, 62, 43, 10
 COMBOBOX ID_X1_OTHEREDGE, 108, 60, 54, 60, CBS_DROPDOWNLIST | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 RTEXT "Abs,PerCent,Offset:", -1, 36, 77, 69, 9
 EDITTEXT ID_X1_VALUE, 108, 75, 36, 12
 RTEXT "Units:", -1, 83, 95, 23, 8
 COMBOBOX ID_X1_UNITS, 108, 93, 54, 40, CBS_DROPDOWNLIST | WS_VISIBLE | WS_TABSTOP
 DEFPUSHBUTTON "&Layout Now", ID_LAYOUT, 6, 93, 54, 14
 CTEXT "Horizontal 1", -1, 108, 6, 54, 8
 COMBOBOX ID_X2_MYEDGE, 165, 15, 54, 54, CBS_DROPDOWNLIST | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 COMBOBOX ID_X2_RELATIONSHIP, 165, 30, 54, 76, CBS_DROPDOWNLIST | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 COMBOBOX ID_X2_RELWIN, 165, 45, 54, 72, CBS_DROPDOWNLIST | WS_VISIBLE | WS_TABSTOP
 COMBOBOX ID_X2_OTHEREDGE, 165, 60, 54, 60, CBS_DROPDOWNLIST | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 COMBOBOX ID_Y1_MYEDGE, 222, 15, 54, 54, CBS_DROPDOWNLIST | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 COMBOBOX ID_Y1_RELATIONSHIP, 222, 30, 54, 76, CBS_DROPDOWNLIST | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 COMBOBOX ID_Y1_RELWIN, 222, 45, 54, 72, CBS_DROPDOWNLIST | WS_VISIBLE | WS_TABSTOP
 COMBOBOX ID_Y1_OTHEREDGE, 222, 60, 54, 60, CBS_DROPDOWNLIST | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 COMBOBOX ID_Y2_MYEDGE, 279, 15, 54, 54, CBS_DROPDOWNLIST | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 COMBOBOX ID_Y2_RELATIONSHIP, 279, 30, 54, 76, CBS_DROPDOWNLIST | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 COMBOBOX ID_Y2_RELWIN, 279, 45, 54, 72, CBS_DROPDOWNLIST | WS_VISIBLE | WS_TABSTOP
 COMBOBOX ID_Y2_OTHEREDGE, 279, 60, 54, 60, CBS_DROPDOWNLIST | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 CTEXT "Horizontal 2", -1, 165, 6, 54, 8
 CTEXT "Vertical 1", -1, 222, 6, 54, 8
 CTEXT "Vertical 2", -1, 279, 6, 54, 8
 EDITTEXT ID_X2_VALUE, 165, 75, 36, 12
 EDITTEXT ID_Y1_VALUE, 222, 75, 36, 12
 EDITTEXT ID_Y2_VALUE, 279, 75, 36, 12
 COMBOBOX ID_X2_UNITS, 165, 93, 54, 40, CBS_DROPDOWNLIST | WS_VISIBLE | WS_TABSTOP
 COMBOBOX ID_Y1_UNITS, 222, 93, 54, 40, CBS_DROPDOWNLIST | WS_VISIBLE | WS_TABSTOP
 COMBOBOX ID_Y2_UNITS, 279, 93, 54, 40, CBS_DROPDOWNLIST | WS_VISIBLE | WS_TABSTOP
}
