//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1995, 1995 by Borland International, All Rights Reserved
//
// Filename:    TBExpert.rc
//
// Date:        27-Sep-95
//
// Description:
//----------------------------------------------------------------------------

#include "TBExpert.rh"
#include <owl/owlapp.rc>
#include <owl/except.rc>
#include <owl/window.rh>


IDB_SEPARATOR BITMAP
{
 '42 4D B6 01 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 1E 00 00 00 14 00 00 00 01 00 04 00 00 00'
 '00 00 40 01 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 10 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 C0 C0 C0 00 80 80 80 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00 FF FF F0 00 00 0F FF FF FF FF'
 '00 00 00 FF FF 00 FF FF FF FF FF 0F FF FF FF FF'
 '0F FF FF FF FF 00 FF FF FF FF FF 0F FF FF FF FF'
 '0F FF FF FF FF 00 FF FF FF FF FF 0F FF FF FF FF'
 '0F FF FF FF FF 00 FF FF FF FF FF 0F FF FF FF FF'
 '0F FF FF FF FF 00 FF FF FF FF FF 0F FF FF FF FF'
 '0F FF FF FF FF 00 FF FF FF FF FF 0F FF FF FF FF'
 '0F FF FF FF FF 00 FF FF FF FF FF 0F FF FF FF FF'
 '0F FF FF FF FF 00 FF FF FF FF FF 0F FF FF FF FF'
 '0F FF FF FF FF 00 FF FF FF FF FF 0F FF FF FF FF'
 '0F FF FF FF FF 00 FF FF FF FF FF 0F FF FF FF FF'
 '0F FF FF FF FF 00 FF FF FF FF FF 0F FF FF FF FF'
 '0F FF FF FF FF 00 FF FF FF FF FF 0F FF FF FF FF'
 '0F FF FF FF FF 00 FF FF FF FF FF 0F FF FF FF FF'
 '0F FF FF FF FF 00 FF FF FF FF FF 0F FF FF FF FF'
 '0F FF FF FF FF 00 FF FF F0 00 00 0F FF FF FF FF'
 '00 00 00 FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00'
}

IDB_MODE BITMAP
{
 '42 4D B6 01 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 1E 00 00 00 14 00 00 00 01 00 04 00 00 00'
 '00 00 40 01 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 10 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 C0 C0 C0 00 80 80 80 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00 FF FF FF FF 77 77 77 77 77 77'
 '77 7F FF FF FF 00 FF FF FF F7 F7 77 77 77 77 77'
 '77 F7 FF FF FF 00 FF FF FF F7 7F FF FF FF FF FF'
 'FF 77 FF FF FF 00 FF FF FF F7 7F FF FF FF FF FF'
 'FF 77 FF FF FF 00 FF FF FF F7 7F F7 77 77 77 77'
 'FF 77 FF FF FF 00 FF FF FF F7 7F 77 07 77 77 07'
 '7F 77 FF FF FF 00 FF FF FF F7 7F 77 07 77 77 07'
 '7F 77 FF FF FF 00 FF FF FF F7 7F 77 70 00 00 77'
 '7F 77 FF FF FF 00 FF FF FF F7 7F 77 70 77 70 77'
 '7F 77 FF FF FF 00 FF FF FF F7 7F 77 70 77 70 77'
 '7F 77 FF FF FF 00 FF FF FF F7 7F 77 77 07 07 77'
 '7F 77 FF FF FF 00 FF FF FF F7 7F 77 77 07 07 77'
 '7F 77 FF FF FF 00 FF FF FF F7 7F 77 77 70 77 77'
 '7F 77 FF FF FF 00 FF FF FF FF 77 77 77 70 77 77'
 '77 7F FF FF FF 00 FF FF FF FF FF 77 77 77 77 77'
 '7F FF FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00'
}

IDB_TIME BITMAP
{
 '42 4D B6 01 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 1E 00 00 00 14 00 00 00 01 00 04 00 00 00'
 '00 00 40 01 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 10 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 C0 C0 C0 00 80 80 80 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00 FF FF FF FF FF FF FF F7 7F FF'
 'FF FF FF FF FF 00 FF FF FF FF FF FF F0 00 00 77'
 'FF FF FF FF FF 00 FF FF FF FF FF F0 0F FF FF 00'
 '7F FF FF FF FF 00 FF FF FF FF FF 0F FF FF FF FF'
 '07 FF FF FF FF 00 FF FF FF FF F0 FF FF FF FF FF'
 'F0 7F FF FF FF 00 FF FF FF FF 0F FF FF FF FF FF'
 'FF 07 FF FF FF 00 FF FF FF FF 0F FF FF FF FF FF'
 'FF 07 FF FF FF 00 FF FF FF F0 FF FF FF FF FF FF'
 'FF F0 7F FF FF 00 FF FF FF F0 FF FF FF F0 FF FF'
 'FF F0 7F FF FF 00 FF FF FF F0 FF FF FF F0 0F FF'
 'FF F0 7F FF FF 00 FF FF FF F0 FF FF FF F0 00 FF'
 'FF F0 FF FF FF 00 FF FF FF F0 FF FF FF F0 F0 0F'
 'FF F0 FF FF FF 00 FF FF FF FF 0F FF FF F0 FF F0'
 'FF 0F FF FF FF 00 FF FF FF FF 0F FF FF F0 FF FF'
 'FF 0F FF FF FF 00 FF FF FF FF F0 FF FF F0 FF FF'
 'F0 FF FF FF FF 00 FF FF FF FF FF 0F FF F0 FF FF'
 '0F FF FF FF FF 00 FF FF FF FF FF F0 0F F0 FF 00'
 'FF FF FF FF FF 00 FF FF FF FF FF FF F0 00 00 FF'
 'FF FF FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00'
}

IDB_TEXT BITMAP
{
 '42 4D B6 01 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 1E 00 00 00 14 00 00 00 01 00 04 00 00 00'
 '00 00 40 01 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 10 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 C0 C0 C0 00 80 80 80 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00 FF FF F0 FF FF F0 FF F0 FF F0'
 '00 00 00 FF FF 00 FF FF F0 FF FF F0 FF F0 FF F0'
 'FF FF FF FF FF 00 FF FF FF 0F FF 0F FF F0 FF FF'
 '0F FF FF FF FF 00 FF FF FF F0 F0 FF FF F0 FF FF'
 'F0 FF FF FF FF 00 FF FF FF FF 0F FF FF F0 FF FF'
 'FF 0F FF FF FF 00 FF FF FF F0 F0 FF FF 0F 0F FF'
 'FF F0 FF FF FF 00 FF FF FF 0F FF 0F F0 FF F0 FF'
 'FF FF 0F FF FF 00 FF FF F0 FF FF F0 0F FF FF 0F'
 'FF FF F0 FF FF 00 FF FF F0 FF FF F0 0F FF FF 00'
 '00 00 00 FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF 00'
}


IDD_MODIFYTEXT DIALOG 16, 12, 201, 153
STYLE 0x4L | WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
{
 RTEXT "&Identifier", -1, 23, 12, 34, 8
 EDITTEXT ID_RESID, 67, 11, 118, 12
 RTEXT "I&d", -1, 43, 30, 14, 10
 EDITTEXT ID_ID, 67, 29, 118, 12
 RTEXT "&Border style", -1, 13, 50, 44, 8
 COMBOBOX ID_BORDERSTYLE, 67, 47, 118, 70, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 RTEXT "&Align", -1, 25, 68, 32, 8
 COMBOBOX ID_ALIGN, 67, 65, 118, 70, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 RTEXT "&MaxChars", -1, 18, 86, 39, 8
 EDITTEXT ID_NUMCHARS, 67, 83, 118, 12
 RTEXT "&Text", -1, 25, 104, 32, 8
 EDITTEXT ID_TEXT, 67, 101, 118, 12
}

IDD_MODIFYMODE DIALOG 16, 12, 201, 153
STYLE 0x4L | WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
{
 RTEXT "&Identifier", -1, 23, 12, 34, 8
 EDITTEXT ID_RESID, 67, 11, 118, 12
 RTEXT "I&d", -1, 43, 30, 14, 10
 EDITTEXT ID_ID, 67, 29, 118, 12
 RTEXT "&Border style", -1, 13, 50, 44, 8
 COMBOBOX ID_BORDERSTYLE, 67, 47, 118, 70, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 RTEXT "&Align", -1, 25, 68, 32, 8
 COMBOBOX ID_ALIGN, 67, 65, 118, 70, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 RTEXT "&MaxChars", -1, 18, 86, 39, 8, SS_RIGHT | NOT WS_VISIBLE | WS_GROUP
 EDITTEXT ID_NUMCHARS, 67, 83, 118, 12, NOT WS_VISIBLE | WS_BORDER | WS_TABSTOP
 RTEXT "&Text", -1, 25, 104, 32, 8
 EDITTEXT ID_TEXT, 67, 101, 118, 12
 RTEXT "&Key", -1, 30, 121, 28, 8
 EDITTEXT ID_KEY, 67, 120, 83, 12
}

IDD_MODIFYBUTTON DIALOG 15, 12, 201, 153
STYLE 0x4L | WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
{
 RTEXT "&Identifier", -1, 12, 10, 46, 13
 EDITTEXT ID_RESID, 72, 8, 112, 12
 RTEXT "I&d", -1, 12, 27, 46, 13
 EDITTEXT ID_ID, 72, 26, 112, 12
 RTEXT "Button &Type", -1, 13, 48, 46, 13
 COMBOBOX ID_TYPE, 72, 47, 112, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 RTEXT "Button &State", -1, 14, 68, 46, 13
 COMBOBOX ID_STATE, 72, 69, 112, 33, CBS_DROPDOWNLIST | WS_TABSTOP
 COMBOBOX ID_BORDERSTYLE, 70, 90, 118, 71, CBS_DROPDOWNLIST | NOT WS_VISIBLE | WS_DISABLED | WS_VSCROLL | WS_TABSTOP
}

