//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1991, 1995 by Borland International, All Rights Reserved
//----------------------------------------------------------------------------
#ifndef WORKSHOP_INVOKED
  #include <windows.h>
#endif
#include <owl/owlapp.rc>
#include <owl/except.rc>
#include <owl/window.rh>
#include "search.h"

SEARCHDLG DIALOG 24, 68, 197, 102
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_THICKFRAME
CAPTION "Search and Replace"
FONT 8, "MS Sans Serif"
{
 EDITTEXT IDD_SEARCHEDITBOX, 47, 10, 130, 13, WS_BORDER | WS_TABSTOP
 EDITTEXT IDD_REPLACEEDITBOX, 47, 32, 130, 12, WS_BORDER | WS_TABSTOP
 EDITTEXT IDD_MASKEDITBOX, 47, 53, 130, 12, WS_BORDER | WS_TABSTOP
 PUSHBUTTON "OK", IDOK, 42, 77, 48, 14, WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 102, 77, 48, 14, WS_TABSTOP
 LTEXT "Search:", -1, 9, 13, 36, 10, WS_OVERLAPPED | WS_VISIBLE
 LTEXT "Replace:", -1, 9, 34, 36, 10, WS_OVERLAPPED | WS_VISIBLE
 LTEXT "Mask:", -1, 9, 55, 36, 10, WS_OVERLAPPED | WS_VISIBLE
}

