//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1995, 1995 by Borland International, All Rights Reserved
//----------------------------------------------------------------------------

#include <owl\slider.rc>
#include <owl\owlapp.rc>         // default owl app icon
#include <owl\except.rc>
