//----------------------------------------------------------------------------
// ObjectConnections - (C) Copyright 1994 by Borland International
//----------------------------------------------------------------------------

#define IDC_GUID 71 //=='G'
#define IDI_MAIN  1

GuidDlg DIALOG 40, 40, 210, 80
STYLE DS_MODALFRAME | DS_NOIDLEMSG | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "GUIDGEN - OLE 2 Unique Id Generator"
FONT 8, "MS Sans Serif"
{
 LTEXT "The following base GUID has been placed on the clipboard:", -1, 6, 5, 198, 12, SS_LEFT
 CONTROL "! OLE Error - Could Not Generate GUID !", IDC_GUID, "edit", ES_CENTER |ES_MULTILINE |ES_READONLY, 6, 19, 198, 14
 LTEXT "Enter this into the app registration:  REGDATA(clsid, \"{...}\")", -1, 6, 33, 198, 12, SS_LEFT
 PUSHBUTTON "OK", IDOK, 95, 48, 30, 16
 ICON IDI_MAIN, -1, 45, 45, 18, 20, SS_ICON | WS_CHILD | WS_VISIBLE
 CTEXT "Copyright 1994 Borland International Inc. All Rights Reserved", -1, 0, 69, 210, 9, SS_CENTER
}

IDI_MAIN ICON 
{
 '00 00 01 00 01 00 20 20 10 00 00 00 00 00 E8 02'
 '00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 04 00 00 00 00 00 80 02 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 BF 00 00 BF 00 00 00 BF BF 00 BF 00'
 '00 00 BF 00 BF 00 BF BF 00 00 C0 C0 C0 00 80 80'
 '80 00 00 00 FF 00 00 FF 00 00 00 FF FF 00 FF 00'
 '00 00 FF 00 FF 00 FF FF 00 00 FF FF FF 00 FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF F9 99'
 '99 99 FF FF FF FF FF FF F9 FF FF FF FF FF F9 FF'
 '9F F9 FF FF FF FF FF FF F9 FF FF FF FF FF F9 FF'
 '9F F9 FF 99 99 9F FF FF F9 FF FF FF FF FF F9 FF'
 'FF F9 FF F9 FF FF FF FF F9 FF F9 9F FF FF FF FF'
 'FF FF FF FF 9F FF F9 FF F9 FF 9F F9 FF FF FF FF'
 '9F FF FF FF F9 FF FF 99 F9 FF 9F F9 9F FF FF F9'
 '99 FF FF FF FF 9F FF FF 99 FF F9 9F F9 FF FF F9'
 'F9 FF FF 9F FF 9F FF FF FF FF FF 9F F9 FF FF 9F'
 'FF 9F FF F9 99 FF FF FF FF F9 FF F9 9F FF FF 99'
 '99 9F FF FF FF FF FF FF FF F9 FF FF FF FF F9 FF'
 'FF F9 FF F9 99 99 FF F9 99 99 9F FF FF FF F9 FF'
 'FF F9 FF 9F FF FF 9F FF 9F F9 FF FF FF FF FF FF'
 'FF FF FF 9F FF FF 9F FF F9 F9 FF FF FF FF FF F9'
 '9F FF FF 9F FF FF 9F FF FF 99 FF FF FF FF FF 9F'
 'F9 FF FF F9 99 99 FF FF FF F9 FF FF 99 9F FF FF'
 'F9 FF FF FF FF FF FF F9 9F FF FF FF F9 FF FF F9'
 'F9 FF FF FF FF FF FF 9F FF FF FF FF F9 FF F9 FF'
 '9F FF FF FF 9F FF FF 9F FF FF FF FF F9 FF F9 FF'
 '9F FF F9 FF 9F FF FF F9 FF F9 FF FF F9 FF FF 99'
 'FF FF F9 FF 9F FF FF FF 9F F9 FF FF 99 FF FF FF'
 'FF 99 99 99 9F FF FF FF F9 9F FF FF F9 FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF CC CC'
 'CC CC CC CC CC CC CC CC CC CC CC CC CC CC FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 1C 0E 1E 78 3E 1F 0C 7C 63 31 8C 66 67 31'
 '8C 66 60 31 8C 66 3E 31 8C 7C 1C 31 9E 78'
}

