//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1995, 1996 by Borland International, All Rights Reserved
//----------------------------------------------------------------------------
#include <owl/owlapp.rc>
#include <owl/except.rc>
#include <owl/window.rh>
#include <owl/inputdia.rc>
#include "colmnhdr.h"

IDM_APPMENU MENU
{
 POPUP "&Items"
 {
  MENUITEM "&Add Item...", CM_ADDITEM
  MENUITEM "&Remove Item...", CM_REMOVEITEM
 }
 POPUP "&Notifications"
 {
  MENUITEM "Allow &Tracking", CM_ALLOWTRACKING
  MENUITEM "Allow &ItemChanging", CM_ALLOWITEMCHANGING
 }
}

