//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1995, 1996 by Borland International, All Rights Reserved
//----------------------------------------------------------------------------
#include <owl/owlapp.rc>
#include <owl/except.rc>
#include <owl/window.rh>
#include <owl/inputdia.rc>
#include <owl/validate.rc>
#include <owl/colmnhdr.rc>
#include "colmnhdr.h"

IDM_APPMENU MENU
{
 POPUP "&Items"
 {
  MENUITEM "&Add Item...", CM_ADDITEM
  MENUITEM "&Remove Item...", CM_REMOVEITEM
  MENUITEM "Change &Font...", CM_CHANGEFONT
 }
 POPUP "&Notifications"
 {
  MENUITEM "Allow &Resizing", CM_ALLOWRESIZING
  MENUITEM "Allow &Clicking", CM_ALLOWCLICKING
 }
}

