//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1995, 1996 by Borland International, All Rights Reserved
//----------------------------------------------------------------------------
#include <owl/owlapp.rc>         
#include <owl/inputdia.rc>
#include <owl/except.rc>
#include <owl/window.rh>
#include "propsht.h"

IDM_APPMENU MENU 
{
 POPUP "&Options"
 {
  MENUITEM "&Properties...", CM_PROPERTY
  MENUITEM "Properties (&modeless)...", CM_PROPMODELESS
  MENUITEM SEPARATOR
  MENUITEM "&Exit", CM_EXIT
 }
}

//
// Icons
//
IDI_COLOR   ICON DISCARDABLE "COLOR.ICO"
IDI_SIZE    ICON DISCARDABLE "SIZE.ICO"


IDD_WINATTR DIALOG 0, 0, 205, 135
STYLE DS_3DLOOK | WS_CHILD | WS_CAPTION
FONT 8, "MS Sans Serif"
CAPTION "Window"
{
 CONTROL "Window Attribute", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 33, 7, 137, 101
 CONTROL "", IDC_TEXTEDIT, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 49, 40, 108, 14
 CONTROL "&Caption", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 51, 29, 60, 8
 CONTROL "&Background Color", IDC_BKCOLOR, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 50, 80, 108, 18
}

IDD_SAMPLEPAGE DIALOG 0, 0, 205, 135
STYLE DS_3DLOOK | WS_CHILD | WS_CAPTION
FONT 8, "MS Sans Serif"
CAPTION "PropertyPage API Simulator"
{
 CONTROL "&Page", IDC_GRP_PAGE, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 9, 90, 111
 CONTROL "&Apply", IDC_SIM_APPLY, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 19, 28, 62, 14
 CONTROL "&CancelToClose", IDC_SIM_XCELTOCLOSE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 19, 50, 62, 14
 CONTROL "Cha&nged", IDC_SIM_CHANGED, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 19, 72, 62, 14
 CONTROL "&Unchanged", IDC_SIM_UNCHANGED, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 19, 94, 62, 14
 CONTROL "&Sheet", IDC_GRP_SHEET, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 106, 10, 90, 111
 CONTROL "A&dd Page", IDC_ADDPAGE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED, 118, 29, 62, 14
 CONTROL "&Remove Page", IDC_REMPAGE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED, 118, 51, 62, 14
 CONTROL "&Select Page", IDC_SELPAGE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED, 118, 73, 62, 14
 CONTROL "&Info", IDC_PAGEINFO, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED, 118, 95, 62, 14
}
