// Borland C++ - (C) Copyright 1991, 1995 by Borland International

#if !defined (WORKSHOP_INVOKED)
#include <windows.h>
#endif

# include "ffind.h"

ffind  ICON ffind.ico

STRINGTABLE
BEGIN
  IDS_NAME, "ffind"
END

MAIN DIALOG 3, 15, 303, 124
STYLE WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_SYSMENU | WS_GROUP | WS_VISIBLE | WS_POPUP
CAPTION "FileFind"
{
 LTEXT "Pattern:", 101, 3, 7, 32, 7, SS_LEFT | WS_CHILD
 EDITTEXT 102, 36, 5, 104, 12
 LTEXT "Drives:", 103, 3, 22, 28, 8, SS_LEFT | WS_CHILD
 LISTBOX 104, 2, 45, 296, 77, LBS_NOTIFY | WS_BORDER | WS_VSCROLL | WS_CHILD
 RTEXT "#:    0", 105, 216, 22, 50, 8, SS_RIGHT | WS_CHILD
 LTEXT "Filename", 106, 3, 34, 34, 9, NOT WS_GROUP
 LTEXT "Size", 107, 116, 34, 15, 9, NOT WS_GROUP
 LTEXT "Date", 108, 136, 34, 17, 9, NOT WS_GROUP
 LTEXT "Time", 109, 171, 34, 19, 9, NOT WS_GROUP
 LTEXT "Drive:\\Path", 110, 207, 34, 66, 9, NOT WS_GROUP
 DEFPUSHBUTTON "Search", QX_SEARCH, 150, 4, 32, 14
 PUSHBUTTON "Clear", QX_CLEARW, 186, 4, 32, 14
 PUSHBUTTON "Cancel", QX_CANCEL, 222, 4, 32, 14
 CONTROL "1:", QX_DRV1, "button", BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD, 36, 19, 18, 12
 CONTROL "2:", QX_DRV2, "button", BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD, 56, 19, 18, 12
 CONTROL "3:", QX_DRV3, "button", BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD, 76, 19, 18, 12
 CONTROL "4:", QX_DRV4, "button", BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD, 96, 19, 18, 12
 CONTROL "5:", QX_DRV5, "button", BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD, 116, 19, 18, 12
 CONTROL "6:", QX_DRV6, "button", BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD, 136, 19, 18, 12
 CONTROL "7:", QX_DRV7, "button", BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD, 156, 19, 18, 12
 CONTROL "8:", QX_DRV8, "button", BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD, 176, 19, 18, 12
 CONTROL "9:", QX_DRV9, "button", BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD, 196, 19, 18, 12
}

