//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1993 by Borland International
//----------------------------------------------------------------------------
#ifndef WORKSHOP_INVOKED
  #include <windows.h>
#endif
#include <bwcc.h>

CUCKOO1 BITMAP "cuckoo1.bmp"
CUCKOO2 BITMAP "cuckoo2.bmp"
CUCKOO3 BITMAP "cuckoo3.bmp"
CUCKOO4 BITMAP "cuckoo4.bmp"
CUCKOO5 BITMAP "cuckoo5.bmp"
CUCKOO6 BITMAP "cuckoo6.bmp"
CUCKOO7 BITMAP "cuckoo7.bmp"
CUCKOO8 BITMAP "cuckoo8.bmp"
FACE_BMP BITMAP "face_bmp.bmp"
ICON_1 ICON "aclock.ico"

TOOL_MENU MENU 
{
 POPUP "&Effects"
 {
  MENUITEM "&Chime", 101
  MENUITEM "C&uckoo", 102
 }

 POPUP "&Help", HELP
 {
  MENUITEM "&About", 104
 }
}

IDD_ABOUT_BWCC DIALOG 16, 23, 171, 86
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg"
CAPTION "About Cuckoo Clock"
FONT 8, "MS Sans Serif"
{
 CTEXT "Created with Borland C++ and ObjectWindows", -1, 9, 45, 153, 9
 CTEXT "Chimes Every Hour.", -1, 9, 9, 153, 9
 CTEXT "Look out at Midnight!", -1, 9, 21, 153, 9
 PUSHBUTTON "OK", IDOK, 61, 66, 48, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 CONTROL "", -1, SHADE_CLASS, BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 6, 6, 159, 54
}

IDD_ABOUT DIALOG 16, 23, 168, 81
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Cuckoo Clock"
FONT 8, "MS Sans Serif"
{
 CTEXT "Created with Borland C++ and ObjectWindows", -1, 6, 42, 156, 9
 CTEXT "Chimes Every Hour.", -1, 6, 6, 156, 9
 CTEXT "Look out at Midnight!", -1, 6, 18, 156, 9
 PUSHBUTTON "OK", IDOK, 60, 60, 48, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
}
