//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1993 by Borland International
//----------------------------------------------------------------------------
#include <owl\inputdia.rh>
#include <owl\inputdia.rc>
#include <owl\owlapp.rc>         // default owl app icon
#include <owl\window.rh>
#include "draw.rh"

DRAW_MENU MENU
BEGIN
   POPUP "&Draw"
   BEGIN
      MENUITEM "&Record...", CM_RECORD
      MENUITEM "&Stop Recording", CM_STOP
      MENUITEM "&Play...", CM_PLAY
      MENUITEM SEPARATOR
      MENUITEM "&Exit", CM_EXIT
   END
END
