// Borland C++ Windows - (C) Copyright 1992 by Borland International

// FILE : cmdlg.rc

#include <windows.h>
#include "cmdlgr.h"

CMDLGAPMENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open",       CM_U_FILEOPEN
		MENUITEM SEPARATOR
		MENUITEM "E&xit",       CM_EXIT
	END

	MENUITEM "&Color",              CM_U_COLOR
	MENUITEM "F&ont",               CM_U_FONT
	POPUP "\a&Help"
	BEGIN
		MENUITEM "&About",      CM_U_HELPABOUT
	END

END

