// Borland C++ - (C) Copyright 1992 by Borland International

#define STRICT

#if !defined (WORKSHOP_INVOKED)
#include <windows.h>
#endif

#include "sounder.h"


STRINGTABLE
BEGIN
	IDS_NAME, "sounder"
END

sounder ICON sounder.ico

