// Borland C++ - (C) Copyright 1991, 1992 by Borland International
//
//  Resource Workshop 32-bit Custom Control Example

#include "foobtn.rh"

IDD_EDITSTYLES DIALOG 15, 10, 175, 104
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Styles for a Foo Button"
FONT 8, "MS Sans Serif"
{
 CONTROL "Text Color", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 8, 68, 64
 CONTROL "&Red", IDC_FTEXTRED, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 19, 18, 40, 12
 CONTROL "&Green", IDC_FTEXTGREEN, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 19, 31, 40, 12
 CONTROL "&Blue", IDC_FTEXTBLUE, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 19, 44, 40, 12
 CONTROL "&Yellow", IDC_FTEXTYELLOW, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 19, 57, 40, 12
 CONTROL "Background Color", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 95, 8, 68, 64
 CONTROL "&Red", IDC_BTEXTRED, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 18, 40, 12
 CONTROL "&Green", IDC_BTEXTGREEN, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 31, 40, 12
 CONTROL "&Blue", IDC_BTEXTBLUE, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 44, 40, 12
 CONTROL "&Yellow", IDC_BTEXTYELLOW, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 58, 40, 12
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 80, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 80, 50, 14
}

