<H1><%= Application.Title %></H1>

<% if (EndUser.Logout != null) { %>
<%   if (EndUser.DisplayName != '') { %>
  <H1>Welcome <%=EndUser.DisplayName %></H1>
<%   } %>
<%   if (EndUser.Logout.Enabled) { %>
  <A HREF="<%=EndUser.Logout.AsHREF%>">Logout</A>
<%   } %>
<%   if (EndUser.LoginForm.Enabled) { %>
  <A HREF=<%=EndUser.LoginForm.AsHREF%>>Login</A>
<%   } %>
<% } %>

<H2><%= Page.Title %></H2>

<TABLE CELLSPACING=0 CELLPADDING=0>
<TD>
<%  e = new Enumerator(Pages)
     s = ''
     c = 0
     for (; !e.atEnd(); e.moveNext())
     {
       if (e.item().Published)
       {
         if (c>0) s += '&nbsp;|&nbsp'
         if (Page.Name != e.item().Name)
           s += '<A HREF="' + e.item().HREF + '">' + e.item().Title + '</A>'
         else
           s += e.item().Title
         c++
       }
     }
     if (c>1) Response.Write(s)
%>
</TD>
</TABLE>
