//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1995, 1995 by Borland International, All Rights Reserved
//
// Filename:    RollDlgX.rc
//
// Date:         8-Jun-95
//
// Description:
//----------------------------------------------------------------------------

#include <owl/owlapp.rc>
#include <owl/except.rc>
#include <owl/window.rh>

#include "RollDlgX.rh"

IDM_MAINMENU MENU
{
 POPUP "&Dialog"
 {
  MENUITEM "&Test1", CM_TEST1DIALOG
 }

}


IDD_TEST1 DIALOG 8, 19, 183, 244
STYLE DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "Rolling test dialog"
FONT 8, "MS Sans Serif"
{
 LTEXT "Note this dialog box has a system menu box.", -1, 6, 8, 118, 17, WS_GROUP
 LTEXT "It also has minimize and maximize boxes.", -1, 6, 30, 118, 18, WS_GROUP
 LTEXT "The minimize button shrinks the dialog box.", -1, 6, 53, 118, 19, WS_GROUP
 LTEXT "The maximize button expands the dialog box.", -1, 6, 78, 118, 21, WS_GROUP
 LTEXT "These functions are available from the system menu as well.", -1, 6, 103, 118, 19, WS_GROUP
 DEFPUSHBUTTON "OK", IDOK, 128, 7, 50, 14, BS_DEFPUSHBUTTON | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 128, 25, 50, 14, WS_TABSTOP
 PUSHBUTTON "Help", IDHELP, 128, 43, 50, 14, WS_TABSTOP
}

