// owlrange.rc
//............................................................................
// includes

#include <windows.h>
#include "resource.h"

//............................................................................
// Icons

IDI_MAIN ICON owlrange.ico

//............................................................................
// Menus

IDM_MAIN MENU
{
	MENUITEM " |< ", IDM_NAV_FIRST
	MENUITEM " << ", IDM_NAV_PRIORSET
	MENUITEM " <  ", IDM_NAV_PRIOR
	MENUITEM "  > ", IDM_NAV_NEXT
	MENUITEM " >> ", IDM_NAV_NEXTSET
	MENUITEM " >| ", IDM_NAV_LAST
	MENUITEM "&Ranges...", IDM_TEST_SETRANGE_STARTEND
}

//............................................................................
// Strings

STRINGTABLE
{
#ifdef __FLAT__
	IDS_MAINTITLE,	"OWL Range 32"
#else
	IDS_MAINTITLE,	"OWL Range 16"
#endif
}

//............................................................................
IDD_START_AND_END DIALOG 6, 15, 142, 115
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Set Start and End of Search Range"
FONT 8, "MS Sans Serif"
{
 RTEXT "&Start Value:", -1, 24, 29, 42, 8
 EDITTEXT IDC_START_VALUE, 72, 24, 44, 12, ES_RIGHT | WS_BORDER | WS_TABSTOP
 RTEXT "&End Value:", -1, 24, 47, 42, 8
 EDITTEXT IDC_END_VALUE, 72, 47, 44, 12
 DEFPUSHBUTTON "&OK", IDOK, 12, 96, 50, 14
 PUSHBUTTON "&Cancel", IDCANCEL, 72, 96, 50, 14
}


