// Borland C++ - (C) Copyright 1991 by Borland International

#if !defined (WORKSHOP_INVOKED)
# include <windows.h>
#endif

# include "hdump.h"

hdump  ICON hdump.ico

hdump  MENU
BEGIN
  POPUP "File"
  BEGIN
    MENUITEM "Open..."  IDM_OPEN
    MENUITEM SEPARATOR
    MENUITEM "About",   IDM_ABOUT
    MENUITEM "Exit",    IDM_QUIT
  END
END

STRINGTABLE
BEGIN
  IDS_NAME, "hdump"
END

ABOUT DIALOG 22, 17, 154, 64
STYLE WS_POPUP | WS_CAPTION
CAPTION "About HDUMP"
{
 ICON "hdump", -1, 9, 24, 16, 16
 CTEXT "Hdump", -1, 0, 6, 154, 8, SS_CENTER | WS_CHILD
 CTEXT "Version 1.0", -1, 30, 24, 94, 8, SS_CENTER | WS_CHILD
 DEFPUSHBUTTON "Ok", IDOK, 61, 42, 32, 14
}

OPENFILE DIALOG 10, 10, 148, 116
STYLE WS_POPUP | WS_CAPTION
CAPTION "Open"
{
 LTEXT "Open File Name:", -1, 2, 4, 76, 10, SS_LEFT | WS_CHILD
 EDITTEXT IDD_FNAME, 2, 18, 144, 12
 LTEXT "Files in", -1, 2, 40, 38, 10, SS_LEFT | WS_CHILD
 LTEXT "", IDD_FPATH, 44, 40, 98, 12, SS_LEFT | WS_CHILD
 LISTBOX IDD_FLIST, 2, 54, 70, 58, LBS_NOTIFY | WS_BORDER | WS_VSCROLL | WS_CHILD
 DEFPUSHBUTTON "OK", IDOK, 88, 62, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 88, 86, 50, 14
}


