//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1993 by Borland International
//----------------------------------------------------------------------------
#include <owl\mdi.rh>
#include <owl\window.rh>
#include <owl/except.rc>

100 MENU 
{
  POPUP "&File"
  {
    MENUITEM "E&xit", CM_EXIT
  }

  POPUP "&Demo"
  {
    MENUITEM "&MoveTo/LineTo Demo", 201
    MENUITEM "&Arty Demo",          202
  }

  POPUP "&Window"
  {
    MENUITEM "&Cascade",       CM_CASCADECHILDREN
    MENUITEM "&Tile",          CM_TILECHILDREN
    MENUITEM "&Arrange Icons", CM_ARRANGEICONS
    MENUITEM "Close A&ll",     CM_CLOSECHILDREN
  }
}

100 ICON 
{
 '00 00 01 00 01 00 20 20 10 00 00 00 00 00 E8 02'
 '00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 04 00 00 00 00 00 80 02 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 80 00 00 80 00 00 00 80 80 00 80 00'
 '00 00 80 00 80 00 80 80 00 00 C0 C0 C0 00 80 80'
 '80 00 00 00 FF 00 00 FF 00 00 00 FF FF 00 FF 00'
 '00 00 FF 00 FF 00 FF FF 00 00 FF FF FF 00 FB FB'
 'BF BF BF BF FB FB FB FB BF BF BF BF FB FB BF BF'
 'FB FB FB FB BF BF BF BF FB FB FB FB BF BF FB FB'
 'BF BF BF BF FB FB FB FB BF BF BF BF FB FB BF BF'
 'FB FB FB FB BF BF BF BF FB FB FB FB BF BF BF BF'
 'FB FB FB FB BF BF BF BF FB FB FB FB BF BF FB FB'
 'BF BF BF BF FB FB FB FB BF BF BF BF FB FB BF BF'
 'FB FB FB FB BF BF BF BF FB FB FB FB BF BF FB FB'
 'BF B0 00 33 F0 00 FB F0 00 00 BF BF FB FB BF BF'
 'F3 33 03 33 BF 0F BF BF F0 FB FB FB BF BF FB FB'
 '33 33 03 33 FB 0B FB FB B0 BF BF BF FB FB BF BF'
 '33 33 0B F0 BF 0F 3F BF 30 FB FB FB BF BF FB FB'
 '33 33 0F 0F 0B 0B F3 33 B0 BF BF BF FB FB FB FB'
 '33 3F 0F 0F 0B 0B F3 03 B0 BF 0F BF FB FB BF BF'
 '3B FB 0B 0B 0F 0F BF 0F F0 FB 0B 3B BF BF FB FB'
 'BF BF 00 BF F0 0B FB 0B B0 BF 03 3F FB FB BF BF'
 'FB F0 00 FB B0 00 BF 00 00 00 0B F3 BF BF FB FB'
 'BF BF BF 50 FB FB FB FB BF BF BF BF FB FB 0F BF'
 'FB FB 55 55 55 5F B5 50 FB FB FB FB BF BF 51 FB'
 'BF 05 55 55 55 55 55 55 5F BF BF BF FB FB 15 10'
 '51 05 55 55 55 55 55 55 55 FB FB FB BF BF 15 15'
 '51 55 55 55 55 55 55 55 55 55 FB FB BF BF 01 51'
 '15 15 55 55 50 01 00 00 05 55 55 00 FB FB C0 15'
 '51 51 50 55 05 15 15 15 51 05 50 01 11 00 CC 01'
 '15 15 15 15 50 CC C0 51 15 15 11 11 11 11 CC CC'
 '51 51 51 51 0C CC CC C0 51 01 11 11 11 10 CC CC'
 'C0 15 15 0C B9 BB CC CC CC C0 11 11 10 CC CC CC'
 'CC CC CC C9 9B 9B CC CC CC CC CC CC CC CC CC CC'
 'CC CC CC CB B9 B9 BC CC CC CC CC CC CC CC CC CC'
 'CC CC CC CB B9 B9 BC CC CC CC CC CC CC CC CC CC'
 'CC CC CC CB 9B 9B CC CC CC CC CC CC CC CC CC CC'
 'CC CC CC CC B9 BC CC CC CC CC CC CC CC CC CC CC'
 'CC CC CC CC CC CC CC CC CC CC CC CC CC CC 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00'
}

