/****************************************************************************


drawedge.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include <owl\except.rc>
#include "drawedge.rh"
IDD_DRAWEDGE DIALOG 9, 23, 173, 146
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER
FONT 8, "MS Sans Serif"
{
 CHECKBOX "RaisedOuter(1)", IDC_EDGE_RO, 12, 19, 60, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 CHECKBOX "SunkenOuter(2)", IDC_EDGE_SO, 12, 31, 60, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 CHECKBOX "RaisedInner(4)", IDC_EDGE_RI, 12, 43, 60, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 CHECKBOX "SunkenInner(8)", IDC_EDGE_SI, 12, 55, 60, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 CHECKBOX "Left(1)", IDC_FL_LEFT, 100, 11, 60, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 CHECKBOX "Top(2)", IDC_FL_TOP, 100, 23, 60, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 CHECKBOX "Right(4)", IDC_FL_RIGHT, 100, 35, 60, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 CHECKBOX "Bottom(8)", IDC_FL_BOTTOM, 100, 47, 60, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 CHECKBOX "Diagonal(10)", IDC_FL_DIAG, 100, 62, 60, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 CHECKBOX "Middle(800)", IDC_FL_MID, 100, 77, 60, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 CHECKBOX "Soft(1000)", IDC_FL_SOFT, 100, 88, 60, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 CHECKBOX "Adjust(2000)", IDC_FL_ADJUST, 100, 100, 60, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 CHECKBOX "Flat(4000)", IDC_FL_FLAT, 100, 112, 60, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 CHECKBOX "Mono(8000)", IDC_FL_MONO, 100, 124, 60, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 GROUPBOX "Edge", -1, 6, 7, 80, 66, BS_GROUPBOX
 GROUPBOX "Flags", -1, 94, 2, 70, 137, BS_GROUPBOX
 CONTROL "", IDC_SAMPLE, "static", SS_BLACKRECT | WS_CHILD | WS_VISIBLE, 21, 96, 46, 34
 GROUPBOX "Sample", -1, 6, 80, 80, 59, BS_GROUPBOX
}
