//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1993 by Borland International
//----------------------------------------------------------------------------
#ifndef WS_POPUP
  #include <windows.h>
#endif
#include "ownerdra.h"

#include <owl\owlapp.rc>        // Owl icon
#include <owl/except.rc>

COMMANDS MENU
{
  MENUITEM "&Test", CM_TEST
}

TESTDIALOG DIALOG 46, 49, 141, 59
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog With Owner-Draw Buttons"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 50, 37, 40, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 CONTROL "", ID_BUTTON1, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_BORDER | WS_GROUP | WS_TABSTOP, 11, 10, 53, 18
 CONTROL "", ID_BUTTON2, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_BORDER | WS_GROUP | WS_TABSTOP, 77, 10, 53, 18
}
