//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1991, 1995 by Borland International, All Rights Reserved
//----------------------------------------------------------------------------
#include <owl/owlapp.rc>         // default owl app icon
#ifndef WORKSHOP_INVOKED
  #include <windows.h>
#endif
#include "notify.h"

IDM_COMMANDS MENU
{
  POPUP "&Test"
  {
    MENUITEM "&Notifications", CM_TEST
  }
}

IDD_TEST DIALOG 25, 48, 262, 88
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_THICKFRAME
CAPTION "Notification Tester"
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON "&Beep", ID_BUTTON, 23, 42, 48, 14
 CTEXT "0", ID_STATIC, 36, 21, 19, 11
 CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 6, 15, 83, 48
 LTEXT "Beep!", -1, 6, 6, 76, 8
 PUSHBUTTON "OK", IDOK, 111, 72, 48, 14
 CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 96, 15, 162, 48
 LTEXT "Press the buttons!", -1, 96, 6, 60, 8
 PUSHBUTTON "Button&1", ID_BUTTON1, 99, 30, 36, 14
 PUSHBUTTON "Button&2", ID_BUTTON2, 138, 30, 36, 14
 PUSHBUTTON "Button&3", ID_BUTTON3, 180, 30, 36, 14
 PUSHBUTTON "Button&4", ID_BUTTON4, 219, 30, 36, 14
}
