//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1993 by Borland International
//   Resources for TDrawView and TDrawListView
//----------------------------------------------------------------------------

#define CM_PENSIZE    206
#define CM_PENCOLOR   207
#define CM_UNDO       208
#define CM_CLEAR      209
#define CM_DELETE     210
#define IDM_DRAWVIEW  212
#define IDM_DRAWLISTVIEW 213
#define IDA_DRAWLISTVIEW 213
#define IDS_FILEINFO  215

#ifdef RC_INVOKED 

#include <owl\inputdia.rc>

IDM_DRAWVIEW MENU 
{
 POPUP "&Edit"
 {
  MENUITEM "&Undo",      CM_UNDO
  MENUITEM "&Clear",     CM_CLEAR
 }
 POPUP "&Tools"
 {
  MENUITEM "Pen &Size",  CM_PENSIZE
  MENUITEM "Pen &Color", CM_PENCOLOR
 }
 POPUP "&Help"
 {
  MENUITEM  "OWL Line Draw", 0, INACTIVE
 }
}

IDM_DRAWLISTVIEW MENU 
{
 POPUP "&Edit"
 {
  MENUITEM "Pen &Size",   CM_PENSIZE
  MENUITEM "Pen &Color",  CM_PENCOLOR
  MENUITEM "&Delete Line",CM_DELETE  
  MENUITEM "&Undo",       CM_UNDO
  MENUITEM "Clear All",   CM_CLEAR
 }
 POPUP "&Help"
 {
  MENUITEM  "OWL Line Draw List", 0, INACTIVE
 }
}

IDA_DRAWLISTVIEW ACCELERATORS
BEGIN
  VK_DELETE, CM_DELETE,   VIRTKEY, SHIFT
  VK_BACK,   CM_UNDO,     VIRTKEY, ALT
END

STRINGTABLE 
{
 CM_PENSIZE, "Changes the pen width"
 CM_PENCOLOR, "Changes the pen color"
 CM_DELETE, "Erase selected line"
 CM_CLEAR, "Erase all lines"
 CM_UNDO, "Undo last action"
 IDS_FILEINFO, "Lines from TLineDocument"
}

#endif  // RC_INVOKED

