#include "resource.h"

#if !defined (WORKSHOP_INVOKED)
#include <windows.h>
#endif

#include "globals.h"
#include "winver.h"

CHECKON                 BITMAP  MOVEABLE PURE   "checkon.bmp"
CHECKOFF                BITMAP  MOVEABLE PURE   "checkoff.bmp"
DOT                     BITMAP  MOVEABLE PURE   "dot.bmp"

IDI_APPICON             ICON    DISCARDABLE     "MENU.ICO"

MENU MENU DISCARDABLE 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Exit",                       IDM_EXIT
    END
    POPUP "&Colors"
    BEGIN
        MENUITEM "&Owner Draw Colors",          IDM_COLOROWNERDR
        MENUITEM SEPARATOR
        MENUITEM "&Black",                      IDM_BLACK, CHECKED
        MENUITEM "B&lue",                       IDM_BLUE
        MENUITEM "&Red",                        IDM_RED
        MENUITEM "&Green",                      IDM_GREEN
    END
    POPUP "&Software"
    BEGIN
        POPUP "&Databases"
        BEGIN
            MENUITEM "&Visual dBASE",            0
            MENUITEM "&Paradox",                      0
        END
        POPUP "&Languages"
        BEGIN
            POPUP "&C++"
            BEGIN
                MENUITEM "&Borland C++",                 0
                MENUITEM "&Turbo C++",                    0
            END
            MENUITEM "&Delphi",                0
        END
    END
END

POPUPMENU MENU DISCARDABLE 
BEGIN
    POPUP "FOO-Dummy Popup"
    BEGIN
        POPUP "Fonts"
        BEGIN
            MENUITEM "Courier",                     IDM_FONT
            MENUITEM "Times Roman",                 IDM_FONT
            MENUITEM "Swiss",                       IDM_FONT
            MENUITEM "Helvetica",                   IDM_FONT
            MENUITEM "Old English",                 IDM_FONT
        END
        POPUP "Sizes"
        BEGIN
            MENUITEM "7",                           IDM_SIZE
            MENUITEM "8",                           IDM_SIZE
            MENUITEM "9",                           IDM_SIZE
            MENUITEM "10",                          IDM_SIZE
            MENUITEM "11",                          IDM_SIZE
            MENUITEM "12",                          IDM_SIZE
            MENUITEM "14",                          IDM_SIZE
        END
        POPUP "Styles"
        BEGIN
            MENUITEM "Bold",                        IDM_STYLE
            MENUITEM "Italic",                      IDM_STYLE
            MENUITEM "Strike Out",                  IDM_STYLE
            MENUITEM "Superscript",                 IDM_STYLE
            MENUITEM "Subscript",                   IDM_STYLE
        END
    END
END


MENU ACCELERATORS MOVEABLE PURE 
BEGIN
    "Q",            IDM_EXIT,               VIRTKEY, CONTROL
END


VS_VERSION_INFO VERSIONINFO
 FILEVERSION 4,0,0,0
 PRODUCTVERSION 4,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0xbL
#else
 FILEFLAGS 0xaL
#endif
 FILEOS 0x10001L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Microsoft Corporation\0"
            VALUE "FileDescription", "Menu Example Application\0"
            VALUE "FileVersion", "Version 4.0\0"
            VALUE "InternalName", "Menu\0"
            VALUE "LegalCopyright","Copyright \251 Microsoft Corp. 1990-1995\0"
            VALUE "LegalTrademarks", "Microsoft\256 is a registered trademark of Microsoft Corporation. Windows(TM) is a trademark of Microsoft Corporation\0"
            VALUE "ProductName", "Menu\0"
            VALUE "ProductVersion", "Version 4.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END


STRINGTABLE DISCARDABLE
BEGIN
    IDS_APPNAME             "Menu"
    IDS_DESCRIPTION         "Menu Example Application"
END



