//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1991, 1995 by Borland International, All Rights Reserved
//----------------------------------------------------------------------------
#if !defined(WORKSHOP_INVOKED)
  #include <windows.h>
#endif
#include "sysinfo.h"

#include <owl/except.rc>
#include <owl/window.rh>

IDD_SYSINFO16 DIALOG 11, 20, 169, 108
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER | DS_3DLOOK
FONT 8, "MS Sans Serif"
{
 LTEXT "Number Of Instances", -1, 6, 5, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Window's Version", -1, 6, 19, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Mode Of Operation", -1, 6, 33, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "CPU Type", -1, 6, 47, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Coprocessor Present", -1, 6, 61, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Free Global Memory", -1, 6, 75, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Dos Version", -1, 6, 89, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "", IDC_INSTANCENUMBER, 89, 5, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "", IDC_WINDOWSVERSION, 89, 19, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "", IDC_OPERATIONMODE, 89, 33, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "", IDC_CPUTYPE, 89, 47, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "", IDC_COPROCESSOR, 89, 61, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "", IDC_GLOBAL, 89, 75, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "", IDC_VERSIONDOS, 89, 89, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
}

IDD_SYSINFO32 DIALOG 12, 8, 169, 149
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER | DS_3DLOOK
FONT 8, "MS Sans Serif"
{
 LTEXT "Window's Version", -1, 6, 4, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "OEM Id", -1, 6, 18, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Page Size", -1, 6, 32, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Min App Address", -1, 6, 46, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Max App Address", -1, 6, 60, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Active Processors Mask", -1, 6, 74, 78, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "No. of Processors", -1, 6, 88, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Processor Type", -1, 6, 102, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Allocation Granularity", -1, 6, 116, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Reserved", -1, 6, 130, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "", IDC_WINDOWSVERSION, 89, 4, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "", IDC_OEMID, 89, 18, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "", IDC_PAGESIZE, 89, 32, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "", IDC_MINAPPADDRESS, 89, 46, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "", IDC_MAXAPPADDRESS, 89, 60, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "", IDC_ACTIVEPROMASK, 89, 74, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "", IDC_NUMPROS, 89, 88, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "", IDC_PROTYPE, 89, 102, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "", IDC_ALLOCGRAN, 89, 116, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "", IDC_RESERVED, 89, 130, 74, 14, SS_LEFT | WS_CHILD | WS_VISIBLE
}

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
{
  IDS_ENHANCED,  "Enhanced"
  IDS_STANDARD,  "Standard"
  IDS_REAL,      "Real"
  IDS_CPU8086,   "8086"
  IDS_CPU80186,  "80186"
  IDS_CPU80286,  "80286"
  IDS_CPU80386,  "80386"
  IDS_CPU80486,  "80486"
  IDS_YES,       "Yes"
  IDS_NO,        "No"
  IDS_UNKNOWN,   "Unknown"
}
