//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1993 by Borland International
//----------------------------------------------------------------------------
#include <owl\inputdia.rh>
#include <owl\inputdia.rc>
#include <owl\window.rh>
#include "listboxx.rh"

#include <owl\owlapp.rc>         // default owl app icon
LISTBOX_MENU MENU
BEGIN
   POPUP "&ListBox"
   BEGIN
      MENUITEM "&Standard", CM_STANDARD
      MENUITEM "&Multi-Select", CM_MULTI_SEL
      MENUITEM "Multi-&Column", CM_MULTI_COLUMN
      MENUITEM SEPARATOR
      MENUITEM "&Exit", CM_EXIT
   END

   POPUP "&Add"
   BEGIN
      MENUITEM "Add &String", CM_ADD_STRING
      MENUITEM "Add String &At", CM_ADD_STRING_AT
   END

   POPUP "&Search"
   BEGIN
      MENUITEM "Find &String", CM_FIND_STRING
      MENUITEM "Find String &At", CM_FIND_STRING_AT
   END

   POPUP "&Delete"
   BEGIN
      MENUITEM "Delete &String", CM_DELETE_STRING
      MENUITEM "Delete &At", CM_DELETE_STRING_AT
   END

   POPUP "&Other"
   BEGIN
      MENUITEM "&Directory list", CM_DIR_LIST
      MENUITEM "&Clear", CM_CLEAR
   END
END
