//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1993 by Borland International
//----------------------------------------------------------------------------
#include "calldll.h"
#include <owl\owlapp.rc>         // default owl app icon

COMMANDS MENU
BEGIN
  MENUITEM "&Create", CM_CREATE
  POPUP "&Resource"
   BEGIN
      MENUITEM "&String", CM_RSTRING
      MENUITEM "&Cursor", CM_RCURSOR
      MENUITEM "&Icon", CM_RICON
      MENUITEM "&Bitmap", CM_RBITMAP
   END

END


