//----------------------------------------------------------------------------
// ObjectComponents - (C) Copyright 1994 by Borland International
// TLocaleString - localization resource file definitions
//----------------------------------------------------------------------------

#include "localize.rh"
#include "osl/locale.rh"

Left    XLAT FRENCH "Gauche" GERMAN "Links" SPANISH "Izquierda"XEND
1234    XLAT "Right" FRENCH "Droit"  GERMAN DUTCH "Rechts" SPANISH "Derecho"XEND
Right   XLAT FRENCH "Droit"  GERMAN DUTCH "Rechts" SPANISH "Derecho"XEND
Center  XLAT ENGLISH_UK FRENCH GERMAN "Centre" SPANISH "Centro"XEND
Help    XLAT FRENCH "Aide" GERMAN "Hilfe" ITALIAN "Aiuto" SPANISH "Ayuda"XEND
Comment XLAT                "(Neutral)"
             ENGLISH        "(English)"
             ENGLISH_US     "(English-US)"
             ENGLISH_UK     "(English-UK)"
             FRENCH         "(French)"
             FRENCH_CANADA  "(French-Canada)"
             GERMAN         "(German)"
             ITALIAN        "(Italian)"
             SPANISH        "(Spanish)"
             XEND
NoNeut XLAT  ENGLISH        "(English)"
             ENGLISH_US     "(English-US)"
             ENGLISH_UK     "(English-UK)"
             FRENCH         "(French)"
             FRENCH_CANADA  "(French-Canada)"
             GERMAN         "(German)"
             ITALIAN        "(Italian)"
             SPANISH        "(Spanish)"
             XEND
DescE_ XLAT  ENGLISH        "(English)"
             FRENCH_CANADA  "(French-Canada)"
             XEND
DescU_ XLAT  ENGLISH_US     "(English-US)"
             FRENCH         "(French)"
             XEND

IDD_OUT DIALOG 400, 20, 175, 154
STYLE DS_MODALFRAME | DS_NOIDLEMSG | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "LOCALIZE - Automation Localization Test"
FONT 8, "MS Sans Serif"
{
 RADIOBUTTON "Neutral"       , 0x8000, 6,   6, 66, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "SystemDefault" , 0x8800, 6,  17, 66, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "UserDefault"   , 0x8400, 6,  28, 66, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "English"       , 0x8009, 6,  39, 66, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "English_US"    , 0x8409, 6,  50, 66, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "English_UK"    , 0x8809, 6,  61, 66, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "English_Canada", 0x9009, 6,  72, 66, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "French"        , 0x800C, 6,  83, 66, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "French_Canada" , 0x8C0C, 6,  94, 66, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "German"        , 0x8007, 6, 105, 66, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Dutch"         , 0x8013, 6, 116, 66, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Italian"       , 0x8010, 6, 127, 66, 10, BS_AUTORADIOBUTTON
 RADIOBUTTON "Spanish"       , 0x800A, 6, 138, 66, 10, BS_AUTORADIOBUTTON

 LTEXT "!Left",         IDC_WORD1,  75,   6, 38, 10
 LTEXT "!Right",        IDC_WORD2,  75,  20, 38, 10
 LTEXT "!Center",       IDC_WORD3,  75,  34, 38, 10
 LTEXT "!Help",         IDC_WORD4,  75,  48, 38, 10
 LTEXT "@Comment",      IDC_WORD5,  75,  62, 38, 10
 LTEXT "@NoNeut",       IDC_WORD6,  75,  76, 38, 10
 LTEXT "!NotInRC",      IDC_WORD7,  75,  90, 38, 10
 LTEXT "Constant",      IDC_WORD8,  75, 104, 38, 10
 LTEXT "!LEFT",         IDC_WORD9,  75, 118, 38, 10
 LTEXT "",              IDC_XLAT1, 113,   6, 56, 10, WS_BORDER
 LTEXT "",              IDC_XLAT2, 113,  20, 56, 10, WS_BORDER
 LTEXT "",              IDC_XLAT3, 113,  34, 56, 10, WS_BORDER
 LTEXT "",              IDC_XLAT4, 113,  48, 56, 10, WS_BORDER
 LTEXT "",              IDC_XLAT5, 113,  62, 56, 10, WS_BORDER
 LTEXT "",              IDC_XLAT6, 113,  76, 56, 10, WS_BORDER
 LTEXT "",              IDC_XLAT7, 113,  90, 56, 10, WS_BORDER
 LTEXT "",              IDC_XLAT8, 113, 104, 56, 10, WS_BORDER
 LTEXT "",              IDC_XLAT9, 113, 118, 56, 10, WS_BORDER

 DEFPUSHBUTTON "&Exit", IDC_EXIT,   85, 134, 30, 12
}

