//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1994 by Borland International
//   Tutorial application
//----------------------------------------------------------------------------
#include <owl/window.rh>
#include <owl/oleview.rh>

#define CM_ABOUT            205  // same as step17.rc's
#define CM_PEN              300
#define CM_SELECT           302
#define CM_PENSIZE          306
#define CM_PENCOLOR         307
#define CM_ORGSIZE          308
#define CM_DOUBLESIZE       309
#define CM_HALFSIZE         310

#define IDM_DRAWVIEW        218
#define IDM_DRAWLISTVIEW    219
#define IDA_DRAWLISTVIEW    220
#define IDS_FILEINFO        221
#define IDA_DRAWVIEW        222

#define IDC_PENCIL          400

#ifdef RC_INVOKED
#ifndef WORKSHOP_INVOKED
# include <windows.h>
#endif

#include <owl/inputdia.rc>
#include <owl/oleview.rc>

IDM_DRAWVIEW MENU
{
 MENUITEM Separator  // Edit Group

 POPUP "&Edit"
 {
  MENUITEM "&Undo\aCtrl+Z",        CM_EDITUNDO
  MENUITEM Separator
  MENUITEM "&Cut\aCtrl+X",         CM_EDITCUT
  MENUITEM "C&opy\aCtrl+C",        CM_EDITCOPY
  MENUITEM "&Paste\aCtrl+V",       CM_EDITPASTE
  MENUITEM "Paste &Special...",    CM_EDITPASTESPECIAL
  MENUITEM "Paste &Link",          CM_EDITPASTELINK
  MENUITEM "&Delete\aDel",         CM_EDITDELETE
  MENUITEM "C&lear All\aCtrl+Del", CM_EDITCLEAR
  MENUITEM Separator
  MENUITEM "Pen Si&ze",            CM_PENSIZE
  MENUITEM "Pen Colo&r",           CM_PENCOLOR
  MENUITEM Separator
  MENUITEM "&Insert Object...",    CM_EDITINSERTOBJECT
  MENUITEM "&Links...",            CM_EDITLINKS
  MENUITEM "&Object",              CM_EDITOBJECT
  MENUITEM Separator
  MENUITEM "&Show Objects",        CM_EDITSHOWOBJECTS
 }

 POPUP "&Tools"
 {
  MENUITEM "&Pen",    CM_PEN, CHECKED
  MENUITEM "&Select", CM_SELECT
 }

  POPUP "&Zoom"
 {
  MENUITEM "&100%", CM_ORGSIZE, CHECKED
  MENUITEM "&200%", CM_DOUBLESIZE
  MENUITEM "&50%",  CM_HALFSIZE
 }

 MENUITEM Separator  // Container Group (2)
}


IDA_DRAWVIEW ACCELERATORS
BEGIN
  "^z",      CM_EDITUNDO,
  "^x",      CM_EDITCUT,
  "^c",      CM_EDITCOPY,
  "^v",      CM_EDITPASTE,
  VK_DELETE, CM_EDITDELETE VIRTKEY
  VK_DELETE, CM_EDITCUT,   VIRTKEY, SHIFT
  VK_DELETE, CM_EDITCLEAR, VIRTKEY, CONTROL
  VK_INSERT, CM_EDITCOPY,  VIRTKEY, CONTROL
  VK_INSERT, CM_EDITPASTE, VIRTKEY, SHIFT
  VK_BACK,   CM_EDITUNDO,  VIRTKEY, ALT
END



IDM_DRAWLISTVIEW MENU
{
 MENUITEM Separator
 POPUP "&Edit"
 {
  MENUITEM "&Undo\aCtrl+Z",        CM_EDITUNDO
  MENUITEM Separator
  MENUITEM "&Delete\aDel",         CM_EDITDELETE
  MENUITEM "C&lear All\aCtrl+Del", CM_EDITCLEAR
  MENUITEM Separator
  MENUITEM "Pen Si&ze",            CM_PENSIZE
  MENUITEM "Pen Colo&r",           CM_PENCOLOR
 }
}

IDA_DRAWLISTVIEW ACCELERATORS
BEGIN
  "^z",      CM_EDITUNDO,
  VK_DELETE, CM_EDITDELETE,  VIRTKEY
  VK_DELETE, CM_EDITCLEAR,   VIRTKEY, CONTROL
  VK_BACK,   CM_EDITUNDO,    VIRTKEY, ALT
END


STRINGTABLE
{
 CM_PEN,        "Selects the pen for drawing on the screen"
 CM_SELECT,     "Tool for selecting/moving/resizing individual line object"
 CM_PENSIZE,    "Changes the pen width"
 CM_PENCOLOR,   "Changes the pen color"
 CM_EDITUNDO,   "Undo last action"
 CM_EDITCUT,    "Cut the selected object"
 CM_EDITCOPY,   "Copy the selected object"
 CM_EDITPASTE,  "Paste object on the clipboard"
 CM_EDITDELETE, "Delete selected object"
 CM_EDITCLEAR,  "Erase all lines"
 IDS_FILEINFO,  "Lines from Step 17"
}


IDC_PENCIL CURSOR
{
 '00 00 02 00 01 00 20 20 00 00 03 00 1C 00 30 01'
 '00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 01 00 00 00 00 00 00 02 00 00 00 00'
 '00 00 00 00 00 00 02 00 00 00 00 00 00 00 00 00'
 '00 00 FF FF FF 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF EF FF FF FF F3 FF FF FF F0 FF FF FF F9 0F'
 'FF FF FB D7 FF FF FD 3B FF FF FC 7D FF FF FC CE'
 'FF FF FD E7 7F FF FE F3 BF FF FF 79 DF FF FF BC'
 'EF FF FF DE 77 FF FF EF 3B FF FF F7 9D FF FF FB'
 'CE FF FF FD E7 7F FF FE F3 BF FF FF 79 BF FF FF'
 'BF 7F FF FF DE FF FF FF ED FF FF FF F3 FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF'
}

#endif  // RC_INVOKED
