//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1994 by Borland International
//   Tutorial application -- step06.rc
//----------------------------------------------------------------------------
#include <owl/inputdia.rc>
#include <owl/except.rc>

#define CM_FILENEW    201
#define CM_FILEOPEN   202
#define CM_FILESAVE   203
#define CM_FILESAVEAS 204
#define CM_ABOUT      205

#ifdef RC_INVOKED 
#ifndef WORKSHOP_INVOKED
# include <windows.h>
#endif


COMMANDS MENU 
{
 POPUP "&File"
 {
  MENUITEM "&New",     CM_FILENEW
  MENUITEM "&Open",    CM_FILEOPEN
  MENUITEM "&Save",    CM_FILESAVE
  MENUITEM "Save &As", CM_FILESAVEAS
 }
 POPUP "&Help"
 {
  MENUITEM "&About",   CM_ABOUT
 }
}

#endif  // RC_INVOKED

