//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1993 by Borland International
//   Tutorial application -- step11dv.rc
//----------------------------------------------------------------------------
#define CM_PENSIZE    306
#define CM_PENCOLOR   307
#define IDM_DRAWVIEW  212
#define IDS_FILEINFO  215

#ifdef RC_INVOKED
#ifndef WORKSHOP_INVOKED
# include <windows.h>
#endif

#include <owl/inputdia.rc>

IDM_DRAWVIEW MENU 
{
 POPUP "&Tools"
 {
  MENUITEM "Pen &Size",  CM_PENSIZE
  MENUITEM "Pen &Color", CM_PENCOLOR
 }
}

STRINGTABLE 
{
 CM_PENSIZE, "Changes the pen width"
 CM_PENCOLOR, "Changes the pen color"
 IDS_FILEINFO, "Lines from Step 11"
}

#endif  // RC_INVOKED

