//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1992, 1996 by Borland International, All Rights Reserved
//
//$Revision:   10.9  $
//
// Resources for ObjectWindows DLLs
//----------------------------------------------------------------------------

#include "version.rc"

#if !defined(__WIN32__) && !defined(_WIN32)
# include "owl/colmnhdr.rh"
# include "owl/colmnhdr.rc"
#endif

#include "owl/docview.rc"
#include "owl/editfile.rh"
#include "owl/editfile.rc"
#include "owl/editsear.rh"
#include "owl/editsear.rc"
#include "owl/inputdia.rh"
#include "owl/inputdia.rc"
#include "owl/statusba.rc"
#include "owl/printer.rh"
#include "owl/printer.rc"
#include "owl/slider.rh"
#include "owl/slider.rc"
#include "owl/editview.rc"
#include "owl/listview.rc"
#include "owl/except.rc"
#include "owl/owlapp.rc"
#include "owl/panespli.rh"
#include "owl/panespli.rc"
#include "owl/propsht.rh"
#include "owl/propsht.rc"
#include "owl/winsock.rh"
#include "owl/winsock.rc"

