/*------------------------------------------------------------------------*/
/*                                                                        */
/*  VERSION.RC                                                            */
/*                                                                        */
/*------------------------------------------------------------------------*/

/*
 *      C/C++ Run Time Library - Version 1.5
 *
 *      Copyright (c) 1993, 1994 by Borland International
 *      All Rights Reserved.
 *
 */

#include "version.h"

/* ----- RC defines ----- */
#ifdef RC_INVOKED
#define ID(id)                  id
#else
#define ID(id)                  MAKEINTRESOURCE(id)
#endif

/* ----- Symbols ----- */
#define VS_FILE_INFO            ID(16)          /* Version stamp res type */
#define VS_VERSION_INFO         ID(1)           /* Version stamp res ID */
#define VS_USER_DEFINED         ID(100)         /* User-defined res IDs */

/* ----- VS_VERSION.dwFileFlags ----- */
#define VS_FFI_SIGNATURE        0xFEEF04BDL
#define VS_FFI_STRUCVERSION     0x00010000L
#define VS_FFI_FILEFLAGSMASK    0x0000003FL

/* ----- VS_VERSION.dwFileFlags ----- */
#define VS_FF_DEBUG             0x00000001L
#define VS_FF_PRERELEASE        0x00000002L
#define VS_FF_PATCHED           0x00000004L
#define VS_FF_PRIVATEBUILD      0x00000008L
#define VS_FF_INFOINFERRED      0x00000010L
#define VS_FF_SPECIALBUILD      0x00000020L


VS_VERSION_INFO VERSIONINFO
#ifndef __WIN32__
FILEOS          VOS_DOS_WINDOWS16
#else
FILEOS          VOS__WINDOWS32
#endif

/***********************************************************************/
/*************   This is where to put the VPRINT number ****************/

FILEVERSION     InternalVersion  /* InternalVersion == vprint number */

/***********************************************************************/
/***********************************************************************/

FILETYPE        VFT_DLL
FILESUBTYPE     VS_USER_DEFINED

BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Borland International\0"
      VALUE "FileDescription", "Dynamic Link Run Time Library\0"
      VALUE "FileVersion", "1.5\0"
      VALUE "InternalName", "Run Time Library\0"
      VALUE "LegalCopyright", "Copyright Borland International 1994\0"
      VALUE "ProductName", "Borland C++ 4.50\0"
      VALUE "ProductVersion", "4.50"
      VALUE "SpecialBuild", ""
    END

  END

  BLOCK "VarFileInfo"
  BEGIN                               /*  Language   |    Translation       */
    VALUE "Translation", 0x409, 1252  /* U.S. English, Windows Multilingual */
  END
END
