//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1993 by Borland International
//----------------------------------------------------------------------------
#include "cctltest.h"

#include <owl\owlapp.rc>         // default owl app icon

Commands MENU
BEGIN
  MENUITEM "&Color", CM_COLOR
END

