 //----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1996, 1996 by Borland International, All Rights Reserved
//
// $Revision:   10.1  $
//----------------------------------------------------------------------------
#include <owl/owlapp.rc>
#include <owl/except.rc>
#include <owl/oleview.rc>
#include "ocxcont.rh"

IDM_MAIN MENU LOADONCALL MOVEABLE PURE DISCARDABLE
{
	Popup "&File"
	{
		MenuItem "E&xit",					 CM_EXIT
	}
  Popup "&Edit"
  {
    MenuItem "&Undo\aCtrl+Z",     CM_EDITUNDO
    MenuItem Separator
    MenuItem "Cu&t\aCtrl+X",      CM_EDITCUT
    MenuItem "&Copy\aCtrl+C",     CM_EDITCOPY
    MenuItem "&Paste\aCtrl+V",    CM_EDITPASTE
    MenuItem "&Delete\aDel",      CM_EDITDELETE
    MenuItem Separator
    MenuItem "&Insert Control...",CM_EDITINSERTCONTROL
    MenuItem "&Object",           CM_EDITOBJECT
    MenuItem Separator
    MenuItem "&Show Objects",     CM_EDITSHOWOBJECTS
  }
}

