//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1991, 1995 by Borland International, All Rights Reserved
//----------------------------------------------------------------------------
#ifndef WORKSHOP_INVOKED
  #include <windows.h>
#endif
#include "owlscrn.h"

IDD_CONFIGURE DIALOG 34, 24, 139, 118
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Owl Screen Saver"
FONT 8, "MS Sans Serif"
{
 GROUPBOX "Screen Objects", IDC_GROUPBOX1, 6, 6, 69, 51, BS_GROUPBOX
 CONTROL "Dots", ID_DOTS, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 18, 48, 12
 CHECKBOX "Lines", ID_LINES, 12, 30, 48, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 CHECKBOX "Blobs", ID_BLOBS, 12, 42, 48, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 GROUPBOX "Speed", IDC_GROUPBOX2, 6, 60, 69, 51, BS_GROUPBOX
 CONTROL "Slow", ID_SLOW, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 72, 48, 12
 CONTROL "Medium", ID_MED, "BUTTON", BS_AUTORADIOBUTTON, 12, 84, 48, 12
 CONTROL "Fast", ID_FAST, "BUTTON", BS_AUTORADIOBUTTON, 12, 96, 48, 12
 DEFPUSHBUTTON "OK", 1, 84, 9, 48, 14
 PUSHBUTTON "Cancel", 2, 84, 27, 48, 14
}

IDD_CONFIGURE_BWCC DIALOG 22, 27, 125, 121
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Owl Screen Saver"
FONT 8, "MS Sans Serif"
{
 CONTROL "Button", 1, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 81, 6, 36, 24
 CONTROL "Button", 2, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 81, 39, 36, 24
 CONTROL "Screen Objects", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 6, 6, 69, 51
 CONTROL "Dots", ID_DOTS, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 18, 60, 12
 CONTROL "Lines", ID_LINES, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 30, 60, 12
 CONTROL "Blobs", ID_BLOBS, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 42, 60, 12
 CONTROL "Speed", -2, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 6, 63, 69, 51
 CONTROL "Slow", ID_SLOW, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 75, 60, 12
 CONTROL "Medium", ID_MED, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 87, 60, 12
 CONTROL "Fast", ID_FAST, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 99, 60, 12
}
