/*$Header:   Y:/ADMIN/OCF/SOURCE/BOCOLE/BOCOLEF.RCV   1.0   06 Nov 1994 11:36:12   CQUINN  $*/
// $Header:   Y:/ADMIN/OCF/SOURCE/BOCOLE/BOCOLEF.RCV   1.0   06 Nov 1994 11:36:12   CQUINN  $

// Version label used/incremented by Integration
//
#include "winver.h"
1 VERSIONINFO
FILEVERSION       1,  0,  1, 59
PRODUCTVERSION   1,   0,   0,   0
FILEOS VOS__WINDOWS32
FILETYPE VFT_DLL
BEGIN
   BLOCK "StringFileInfo"
   BEGIN
      BLOCK "040904E4"
      BEGIN
         VALUE "CompanyName", "Borland International\000\000"
         VALUE "FileDescription", "Borland OLE2 Component\000"
         VALUE "FileVersion", "1.00\000\000"
         VALUE "InternalName", "Bolero\000"
         VALUE "LegalCopyright", "Copyright Borland Int'l. 1994\000\000"
         VALUE "OriginalFilename", "BOLE32.DLL\000"
         VALUE "ProductVersion", "1.00"
	 VALUE "SpecialBuild", "what goes here?"
      END
   END
END

