//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1993, 1995 by Borland International, All Rights Reserved
//----------------------------------------------------------------------------
#ifndef WORKSHOP_INVOKED
# include <windows.h>
#endif
#include "commdlgx.rh"
#include <owl/owlapp.rc>         // default owl app icon
#include <owl/except.rc>

CMDLGAPMENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "E&xit", CM_EXIT
  END
  POPUP "&Text"
  BEGIN
    MENUITEM "&String...", CM_FILEOPEN
    MENUITEM "&Color...", CM_COLOR
    MENUITEM "&Font...", CM_FONT
  END
  POPUP "\a&Help"
  BEGIN
    MENUITEM "&About...", CM_HELPABOUT
  END
END
