//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1993 by Borland International
//----------------------------------------------------------------------------
#ifndef WORKSHOP_INVOKED
  #include <windows.h>
#endif
#include <owl\except.rc>
#include "help.rh"

OWLHELPAPMENU MENU
BEGIN
  POPUP "&Menu"
  BEGIN
    MENUITEM "Menu Item &A", CM_MENUITEMA
    MENUITEM "Menu Item &B", CM_MENUITEMB
    MENUITEM SEPARATOR
    MENUITEM "E&xit", CM_EXIT
  END

  POPUP "\a&Help"
  BEGIN
    MENUITEM "&Index\aShift+F1", CM_HELPINDEX
    MENUITEM "&Using help", CM_HELPHELP
    MENUITEM SEPARATOR
    MENUITEM "&About", CM_HELPABOUT
  END

END

OWLHELPAPACCEL ACCELERATORS
BEGIN
  VK_F1, CM_HELPINDEX, VIRTKEY, SHIFT
END
