#include "resource.h"

#if !defined (WORKSHOP_INVOKED)
#include <windows.h>
#endif

#include "globals.h"
#include "winver.h"

MIXTREE                 ICON    DISCARDABLE     "MixTree.ico"

IDB_DESTLINE            BITMAP  DISCARDABLE     "DESTLINE.BMP"
IDB_SRCLINE             BITMAP  DISCARDABLE     "SRCLINE.BMP"
IDB_CUSTOM              BITMAP  DISCARDABLE     "CUSTOM.BMP"
IDB_METER               BITMAP  DISCARDABLE     "METER.BMP"
IDB_SWITCH              BITMAP  DISCARDABLE     "SWITCH.BMP"
IDB_NUMBER              BITMAP  DISCARDABLE     "NUMBER.BMP"
IDB_SLIDER              BITMAP  DISCARDABLE     "SLIDER.BMP"
IDB_FADER               BITMAP  DISCARDABLE     "FADER.BMP"
IDB_TIME                BITMAP  DISCARDABLE     "TIME.BMP"
IDB_LIST                BITMAP  DISCARDABLE     "LIST.BMP"

ABOUTBOX DIALOG DISCARDABLE  22, 17, 167, 73
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About MixTree"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,132,2,32,14,WS_GROUP
    ICON            "MixTree",-1,3,2,18,20
    LTEXT           "CompanyName",IDD_VERFIRST,30,2,100,8
    LTEXT           "FileDescription",101,30,11,100,8
    LTEXT           "FileVersion",102,30,20,137,8
    LTEXT           "LegalCopyright",103,30,29,137,8
    LTEXT           "LegalTrademarks",IDD_VERLAST,30,47,136,27
    CONTROL         "",501,"Static",SS_BLACKRECT,29,43,138,1
END


MIXTREE MENU DISCARDABLE 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit",                       IDM_EXIT
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Display All",                IDM_DISPLAYALL
        MENUITEM "&Collapse Any",               IDM_COLLAPSEANY
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About...",                   IDM_ABOUT
    END
END


MIXTREE ACCELERATORS MOVEABLE PURE 
BEGIN
    "Q",            IDM_EXIT,               VIRTKEY, CONTROL
END


1 VERSIONINFO
 FILEVERSION 4,0,0,0
 PRODUCTVERSION 4,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0xbL
#else
 FILEFLAGS 0xaL
#endif
 FILEOS 0x10001L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Microsoft Corporation\0"
            VALUE "FileDescription", "MixTree Example Application\0"
            VALUE "FileVersion", "Version 4.0\0"
            VALUE "InternalName", "MixTree\0"
            VALUE "LegalCopyright", "Copyright \251 Microsoft Corp. 1990-1995\0"
            VALUE "LegalTrademarks", "Microsoft\256 is a registered trademark of Microsoft Corporation. Windows(TM) is a trademark of Microsoft Corporation\0"
            VALUE "ProductName", "MixTree\0"
            VALUE "ProductVersion", "Version 4.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END



STRINGTABLE DISCARDABLE 
BEGIN
    IDS_APPNAME             "MixTree"
    IDS_DESCRIPTION         "MixTree Example Application"
    IDS_MIXERLINE_COMPONENTTYPE_DST_UNDEFINED 
                            "MIXERLINE_COMPONENTTYPE_DST_UNDEFINED"
    IDS_MIXERLINE_COMPONENTTYPE_DST_DIGITAL 
                            "MIXERLINE_COMPONENTTYPE_DST_DIGITAL"
    IDS_MIXERLINE_COMPONENTTYPE_DST_LINE "MIXERLINE_COMPONENTTYPE_DST_LINE"
    IDS_MIXERLINE_COMPONENTTYPE_DST_MONITOR 
                            "MIXERLINE_COMPONENTTYPE_DST_MONITOR"
    IDS_MIXERLINE_COMPONENTTYPE_DST_SPEAKERS 
                            "MIXERLINE_COMPONENTTYPE_DST_SPEAKERS"
    IDS_MIXERLINE_COMPONENTTYPE_DST_HEADPHONES 
                            "MIXERLINE_COMPONENTTYPE_DST_HEADPHONES"
    IDS_MIXERLINE_COMPONENTTYPE_DST_TELEPHONE 
                            "MIXERLINE_COMPONENTTYPE_DST_TELEPHONE"
    IDS_MIXERLINE_COMPONENTTYPE_DST_WAVEIN 
                            "MIXERLINE_COMPONENTTYPE_DST_WAVEIN"
    IDS_MIXERLINE_COMPONENTTYPE_DST_VOICEIN 
                            "MIXERLINE_COMPONENTTYPE_DST_VOICEIN"
    IDS_MIXERLINE_COMPONENTTYPE_SRC_UNDEFINED 
                            "MIXERLINE_COMPONENTTYPE_SRC_UNDEFINED"
    IDS_MIXERLINE_COMPONENTTYPE_SRC_DIGITAL 
                            "MIXERLINE_COMPONENTTYPE_SRC_DIGITAL"
    IDS_MIXERLINE_COMPONENTTYPE_SRC_LINE "MIXERLINE_COMPONENTTYPE_SRC_LINE"
    IDS_MIXERLINE_COMPONENTTYPE_SRC_MICROPHONE 
                            "MIXERLINE_COMPONENTTYPE_SRC_MICROPHONE"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MIXERLINE_COMPONENTTYPE_SRC_SYNTHESIZER 
                            "MIXERLINE_COMPONENTTYPE_SRC_SYNTHESIZER"
    IDS_MIXERLINE_COMPONENTTYPE_SRC_COMPACTDISC 
                            "MIXERLINE_COMPONENTTYPE_SRC_COMPACTDISC"
    IDS_MIXERLINE_COMPONENTTYPE_SRC_TELEPHONE 
                            "MIXERLINE_COMPONENTTYPE_SRC_TELEPHONE"
    IDS_MIXERLINE_COMPONENTTYPE_SRC_PCSPEAKER 
                            "MIXERLINE_COMPONENTTYPE_SRC_PCSPEAKER"
    IDS_MIXERLINE_COMPONENTTYPE_SRC_WAVEOUT 
                            "MIXERLINE_COMPONENTTYPE_SRC_WAVEOUT"
    IDS_MIXERLINE_COMPONENTTYPE_SRC_AUXILIARY 
                            "MIXERLINE_COMPONENTTYPE_SRC_AUXILIARY"
    IDS_MIXERLINE_COMPONENTTYPE_SRC_ANALOG 
                            "MIXERLINE_COMPONENTTYPE_SRC_ANALOG"
    IDS_MIXERCONTROL_CONTROLTYPE_CUSTOM "MIXERCONTROL_CONTROLTYPE_CUSTOM"
    IDS_MIXERCONTROL_CONTROLTYPE_SIGNEDMETER 
                            "MIXERCONTROL_CONTROLTYPE_SIGNEDMETER"
    IDS_MIXERCONTROL_CONTROLTYPE_PEAKMETER 
                            "MIXERCONTROL_CONTROLTYPE_PEAKMETER"
    IDS_MIXERCONTROL_CONTROLTYPE_UNSIGNEDMETER 
                            "MIXERCONTROL_CONTROLTYPE_UNSIGNEDMETER"
    IDS_MIXERCONTROL_CONTROLTYPE_BOOLEAN "MIXERCONTROL_CONTROLTYPE_BOOLEAN"
    IDS_MIXERCONTROL_CONTROLTYPE_ONOFF "MIXERCONTROL_CONTROLTYPE_ONOFF"
    IDS_MIXERCONTROL_CONTROLTYPE_MUTE "MIXERCONTROL_CONTROLTYPE_MUTE"
    IDS_MIXERCONTROL_CONTROLTYPE_MONO "MIXERCONTROL_CONTROLTYPE_MONO"
    IDS_MIXERCONTROL_CONTROLTYPE_LOUDNESS 
                            "MIXERCONTROL_CONTROLTYPE_LOUDNESS"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MIXERCONTROL_CONTROLTYPE_STEREOENH 
                            "MIXERCONTROL_CONTROLTYPE_STEREOENH"
    IDS_MIXERCONTROL_CONTROLTYPE_SIGNED "MIXERCONTROL_CONTROLTYPE_SIGNED"
    IDS_MIXERCONTROL_CONTROLTYPE_UNSIGNED 
                            "MIXERCONTROL_CONTROLTYPE_UNSIGNED"
    IDS_MIXERCONTROL_CONTROLTYPE_SLIDER "MIXERCONTROL_CONTROLTYPE_SLIDER"
    IDS_MIXERCONTROL_CONTROLTYPE_PAN "MIXERCONTROL_CONTROLTYPE_PAN"
    IDS_MIXERCONTROL_CONTROLTYPE_QSOUNDPAN 
                            "MIXERCONTROL_CONTROLTYPE_QSOUNDPAN"
    IDS_MIXERCONTROL_CONTROLTYPE_FADER "MIXERCONTROL_CONTROLTYPE_FADER"
    IDS_MIXERCONTROL_CONTROLTYPE_VOLUME "MIXERCONTROL_CONTROLTYPE_VOLUME"
    IDS_MIXERCONTROL_CONTROLTYPE_BASS "MIXERCONTROL_CONTROLTYPE_BASS"
    IDS_MIXERCONTROL_CONTROLTYPE_TREBLE "MIXERCONTROL_CONTROLTYPE_TREBLE"
    IDS_MIXERCONTROL_CONTROLTYPE_EQUALIZER 
                            "MIXERCONTROL_CONTROLTYPE_EQUALIZER"
    IDS_MIXERCONTROL_CONTROLTYPE_MICROTIME 
                            "MIXERCONTROL_CONTROLTYPE_MICROTIME"
    IDS_MIXERCONTROL_CONTROLTYPE_MILLITIME 
                            "MIXERCONTROL_CONTROLTYPE_MILLITIME"
    IDS_MIXERCONTROL_CONTROLTYPE_SINGLESELECT 
                            "MIXERCONTROL_CONTROLTYPE_SINGLESELECT"
    IDS_MIXERCONTROL_CONTROLTYPE_MUX "MIXERCONTROL_CONTROLTYPE_MUX"
    IDS_MIXERCONTROL_CONTROLTYPE_MULTIPLESELECT 
                            "MIXERCONTROL_CONTROLTYPE_MULTIPLESELECT"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MIXERCONTROL_CONTROLTYPE_MIXER "MIXERCONTROL_CONTROLTYPE_MIXER"
    IDS_MIXERLINE_LINEF_SOURCE "MIXERLINE_LINEF_SOURCE"
    IDS_MIXERLINE_LINEF_DISCONNECTED "MIXERLINE_LINEF_DISCONNECTED"
    IDS_MIXERLINE_LINEF_ACTIVE "MIXERLINE_LINEF_ACTIVE"
END


