//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1993 by Borland International
//----------------------------------------------------------------------------

#include <owl\owlapp.rc>        // Owl icon

COMMANDS MENU LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
  POPUP "&Window"
  BEGIN
    MenuItem  "&Child", 100
    MenuItem  "Popup &with Parent", 101
    MenuItem  "Popup with&out Parent", 102
  END
END
